<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>
  <link rel="icon" href="img/icon.png">

  <!-- Theme CSS - Includes Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/delirium.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

  <link href="css/creative.min.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
    rel='stylesheet' type='text/css'>



  <!-- Customized CSS -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/"><img style="width: 250px;height:80px" src="/img/logo.png"
          alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="painDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Pain
            </a>
            <div class="dropdown-menu" aria-labelledby="painDropdown">
              <a class="dropdown-item" href="/painScoring.html">Scoring</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/painManagement.html">Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/painCaution.html">Caution</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="agitationDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Agitation
            </a>
            <div class="dropdown-menu" aria-labelledby="agitationDropdown.html">
              <a class="dropdown-item" href="/agitationScoring.html">Scoring</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/agitationManagement.html">Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/agitationCaution.html">Caution</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="deliriumDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Delirium
            </a>
            <div class="dropdown-menu" aria-labelledby="deliriumDropdown">
              <a class="dropdown-item" href="/deliriumScoring.html">Scoring</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/deliriumManagement.html">Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/deliriumCaution.html">Caution</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="paralyticsDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Paralytics
            </a>
            <div class="dropdown-menu" aria-labelledby="paralyticsDropdown">
              <a class="dropdown-item" href="/paralyticsRecommendations.html">Recommendations</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/paralyticsDrugs.html">Drugs</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Caution</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/precipitatingfactors.html">Precipitating
              factors</a></li>
        </ul>
      </div>
    </div>
  </nav>



  {{{body}}}

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/deliriumScoring.js"></script>
  <script type="text/javascript" src="js/painScoring.js"></script>
  <script type="text/javascript" src="js/painCautions.js"></script>
  <script type="text/javascript" src="js/deliriumCautions.js"></script>
  <script type="text/javascript" src="js/agitationCautions.js"></script>

</body>

</html>