<link rel="stylesheet" href="css/cards.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Agitation</li>
      <li class="breadcrumb-item active" aria-current="page">Management</li>
    </ol>
  </nav>


  <div class="mainContent">
    <h2>Drugs</h2>
    <br>
    <ul class="nav nav-tabs" id="agitationManagementTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="non-benzodiazepenes-tab" data-toggle="tab" href="#non-benzodiazepenes" role="tab"
          aria-controls="non-benzodiazepenes" aria-selected="true">Non Benzodiazepenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="benzodiazepenes-tab" data-toggle="tab" href="#benzodiazepenes" role="tab"
          aria-controls="benzodiazepenes" aria-selected="false">Benzodiazepenes</a>
      </li>
    </ul>
    <div class="tab-content" id="agitationManagementTabContent">
      <div class="tab-pane fade show active" id="non-benzodiazepenes" role="tabpanel"
        aria-labelledby="non-benzodiazepenes-tab">
        <div class="mainContent">
          <ul class="nav nav-pills mb-3" id="pills-tab-non-benzodiazepenes" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-propofol-tab" data-toggle="pill" href="#pills-propofol" role="tab"
                aria-controls="pills-propofol" aria-selected="true">Propofol</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-dexmedetomidine-tab" data-toggle="pill" href="#pills-dexmedetomidine"
                role="tab" aria-controls="pills-dexmedetomidine" aria-selected="false">Dexmedetomidine</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tab-non-benzodiazepenesContent">
            <div class="tab-pane fade show active" id="pills-propofol" role="tabpanel"
              aria-labelledby="pills-propofol-tab">
              <div id="propofol">
                <div class="card">

                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseOne" role="button"
                    aria-expanded="false" aria-controls="propofolCollapseOne">
                    <div class="card-header" id="propofolheadingOne">
                      <h1 class="card-heading">
                        Dosing range
                      </h1>
                    </div>
                  </a>
                  <div id="propofolCollapseOne" class="collapse" aria-labelledby="propofolheadingOne"
                    data-parent="#propofol">
                    <div class="card-body">
                      <h3>Dosing:adult</h3>
                      Consult local regulations and individual institutional policies and
                      procedures. Dosage must be individualized based on total body weight
                      and titrated to the desired clinical effect. Wait at least 3 to 5 minutes
                      between dosage adjustments to clinically assess drug effects. Smaller
                      doses are required when used with opioids.
                      <br>
                      <b>ICU sedation in intubated mechanically ventilated patients:</b> Avoid
                      rapid bolus injection; individualize dose and titrate to response.
                      Continuous infusion: Initial: 5 mcg/kg/minute (or 0.3 mg/kg/hour);
                      increase by 5 to 10 mcg/kg/minute (or 0.3 to 0.6 mg/kg/hour) every 5
                      to 10 minutes until desired sedation level is achieved; usual
                      maintenance: 5 to 50 mcg/kg/minute (or 0.3 to 3 mg/kg/hour); reduce
                      dose after goal sedation established and adjust to response (eg,
                      evaluate frequently to minimize dose for sedation). Daily interruption
                      with retitration to a light target level of sedation is recommended to
                      minimize prolonged sedative effects.
                      Elderly, debilitated, or ASA-PS 3 or 4 patients: Refer to geriatric dosing.
                      <h3>dosing :pediatrics</h3>
                      Note: Consult local regulations and individual institutional policies and
                      procedures; should only be used by experienced personnel who are not
                      actively engaged in the procedure or surgery; if used in a nonintubated
                      and/or nonmechanically ventilated patient, qualified personnel and
                      appropriate equipment for rapid institution of respiratory and/or
                      cardiovascular support must be immediately available.
                      Dosage must be individualized based on total body weight and titrated
                      to the desired clinical effect; wait at least 3 to 5 minutes between
                      dosage adjustments to clinically assess drug effects; smaller doses are
                      required when used with opioids.
                      <h3>Dosing: geriatrics</h3>
                      Consult local regulations and individual institutional policies and
                      procedures. Dosage must be individualized based on total body
                      weight and titrated to the desired clinical effect. Wait at least 3 to
                      5 minutes between dosage adjustments to clinically assess drug
                      effects. Smaller doses are required when used with opioids.
                      ICU sedation in intubated mechanically-ventilated patients:
                      Avoid rapid bolus injection; individualize dose and titrate to
                      response
                      Continuous infusion: Elderly, debilitated, ASA-PS 3 or 4: Use 80%
                      of healthy adult dose; reduce dose after adequate sedation
                      established and adjust to response (eg, evaluate frequently to use
                      minimum dose for sedation). Daily interruption with retitration to a
                      light target level of sedation is recommended to minimize
                      prolonged sedative effects
                      <h3>No hepatic or renal dose adjustment.</h3>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseTwo" role="button"
                    aria-expanded="false" aria-controls="propofolCollapseTwo">
                    <div class="card-header" id="propofolheadingTwo">
                      <h1 class="card-heading">Formulation</h1>
                    </div>
                  </a>
                  <div id="propofolCollapseTwo" class="collapse" aria-labelledby="propofolheadingTwo"
                    data-parent="#propofol">
                    <div class="card-body">
                      <p class="card-p">
                        Standard propofol is a 1% (10 mg/mL) lipid emulsion containing 1.1 kcal/mL (0.1 g of fat per 1
                        mL of propofol)
                        This must be considered when calculating nutritional intake
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseThree" aria-expanded="false"
                    aria-controls="propofolCollapseThree">
                    <div class="card-header" id="propofolheadingThree">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="propofolCollapseThree" class="collapse" aria-labelledby="propofolheadingThree"
                    data-parent="#propofol">
                    <div class="card-body">
                      <p class="card-p">
                        <ul>
                          <li>Bradycardia and hypotension (may be more common or severe in patients with cardiac
                            dysfunction, intravascular volume depletion, or low systemic vascular resistance)
                            <div class="underline">The risk of hypotension can be decreased, but not avoided completely,
                              by foregoing bolus dosing</div>
                          </li>
                          <li>Respiratory depression</li>
                          <li>Hypertriglyceridemia</li>
                          <li>Pancreatitis with or without hypertriglyceridemia</li>
                          <li>
                            <a data-toggle="collapse" href="#PRIS" role="button" aria-expanded="false"
                              aria-controls="PRIS">
                              PRIS
                            </a>
                          </li>
                        </ul>
                      </p>
                      <div class="card collapse" id="PRIS">
                        <div class="card-content">
                          <div class="card-body">
                            <h3>Propofol Related Infusion Syndrome</h3>
                            <p class="card-p">
                              This syndrome is a rare but life-threatening complication of propofol, generally occurring
                              at doses exceeding 50 mcg/kg/minute for 48 hours or more.
                              It occur due alteration in liver metabolism of the lipid emulsion, leading to the
                              accumulation of ketone bodies and lactate and/or disruptions in the mitochondrial
                              respiratory chain and inhibition of oxidative phosphorylation. Patients with urea cycle
                              disorders may experience alterations in propofol metabolism within 24–48 hours of propofol
                              use.
                            </p>
                            <h3>Clinical characteristics of PRIS may include</h3>
                            <p class="card-p">
                              Metabolic acidosis , acute renal failure, cardiac failure, Rhabdomyolysis, Myoglobinemia,
                              Myoglobinuria, hyperkalemia, hypertriglyceridemia, and elevated creatine kinase levels.
                            </p>

                            <p class="card-p"><b>
                                PRIS can be life threatening, and propofol should be discontinued immediately if
                                symptoms are present.
                              </b></p>

                            <h3>Risk factors for PRIS</h3>
                            <p class="card-p">

                              <ul>
                                <li>Decreased oxygen delivery to tissues</li>
                                <li>Neurologic injury</li>
                                <li>Sepsis</li>
                                <li>Use of vasoactive medications</li>
                                <li>High-dose propofol</li>
                                <li>Acute liver failure</li>
                                <li>History of hypertriglyceridemia and/or pancreatitis</li>
                              </ul>
                            </p>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseFour" role="button"
                    aria-expanded="false" aria-controls="propofolCollapseFour">
                    <div class="card-header" id="propofolheadingFour">
                      <h1 class="card-heading">Contraindications</h1>
                    </div>
                  </a>
                  <div id="propofolCollapseFour" class="collapse" aria-labelledby="propofolheadingFour"
                    data-parent="#propofol">
                    <div class="card-body">
                      <p class="card-p">
                        Consider avoiding in patients with acute liver failure, or pancreatitis, because the symptoms of
                        PRIS may be difficult to distinguish from the underlying disease state abnormalities.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-dexmedetomidine" role="tabpanel"
              aria-labelledby="pills-dexmedetomidine-tab">


              <div id="dexmedetomidine">
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseOne" role="button"
                    aria-expanded="false" aria-controls="dexmedetomidineCollapseOne">
                    <div class="card-header" id="dexmedetomidineheadingOne">
                      <h1 class="card-heading">Dosing range</h1>
                    </div>
                  </a>
                  <div id="dexmedetomidineCollapseOne" class="collapse" aria-labelledby="dexmedetomidineheadingOne"
                    data-parent="#dexmedetomidine">
                    <div class="card-body">
                      <div class="card-body">
                        <h3>Dosing:adult</h3>
                        icu sedation : iv :Initial: Loading infusion (optional; see "Note" below)
                        of 1 mcg/kg over 10 minutes, followed by a maintenance infusion (see
                        "Note" below) of 0.2 to 0.7 mcg/kg/hour; adjust rate to desired level of
                        sedation; titration no more frequently than every 30 minutes may
                        reduce the incidence of hypotension and the drip is generally initiated
                        at 0.2 mcg/kg/hour. If a loading dose is desired, a reduced infusion rate
                        should be considered
                        Note:
                        Loading infusion: The loading dose may be omitted for this indication if
                        patient is either being converted from another sedative and patient is
                        adequately sedated or there are concerns for hemodynamic
                        compromise.
                        Maintenance infusion: Dosing ranges between 0.2 to 1.5 mcg/kg/hour
                        have been reported during randomized controlled clinical trials
                        Although infusion rates as high as 2.5 mcg/kg/hour have been used, it is
                        thought that doses >1.5 mcg/kg/hour do not add to clinical efficacy .
                        Manufacturer recommends duration of infusion should not exceed 24
                        hours; however, randomized clinical trials have demonstrated efficacy
                        and safety comparable to lorazepam and midazolam with longer-term
                        infusions of up to ~5 days.
                        Note: The loading dose may cause severe tachycardia and hypertension
                        because of receptor oversaturation, which may then result in significant
                        bradycardia and/or hypotension. Because of these untoward
                        hemodynamic effects, the loading dose is rarely administered in clinical
                        ICU practice on initiation of dexmedetomidine,
                        <h3>Dosing:pediatrics</h3>
                        Errors have occurred due to misinterpretation of dosing information.
                        Maintenance dose expressed as mcg/kg/hour. Individualize and titrate
                        to desired clinical effect. At recommended doses, dexmedetomidine
                        does not provide adequate and reliable amnesia (when necessary);
                        therefore, use of additional agents with amnestic properties (eg,
                        benzodiazepines) may be necessary.
                        ICU sedation: Infants, Children, and Adolescents: Limited data available:
                        Loading dose (Optional): IV: 0.5 to 1 mcg/kg/dose over 10 minutes ; use
                        of loading dose is dependent upon concomitant sedation agents and
                        patient’s current and desired level of sedation.
                        Maintenance dose: Continuous IV infusion: Initial: 0.2 to 0.5
                        mcg/kg/hour; adjust dose to desired level of sedation. Dosing based on
                        multiple retrospective studies, case reports, and a few prospective
                        studies. Most reported increasing by 0.1 to 0.3 mcg/kg/hour as needed.
                        Reported maintenance dose variable, usual reported range was 0.4 to
                        0.7 mcg/kg/hour . In general, infants may require higher maintenance
                        infusion rates than either neonates or older children . Maximum
                        reported doses varied; most utilized doses &lt;1 mcg/kg/hour; however, doses as high as 2.5
                        mcg/kg/hour in intubated patients have been described. Although the manufacturer recommends
                        duration of infusion should not exceed 24 hours, most studies reported use beyond this time
                        period; most patients received infusion for ≤72 hours; however, one patient received
                        dexmedetomidine for 103 days. Prolonged infusions should not be abruptly discontinued and are
                        generally tapered over several days to prevent withdrawal symptoms. <h3>Dosing:geriatrics</h3>
                        ICU sedation: IV: Refer to adult dosing. Consider dosage reduction. No specific guidelines
                        available. Dose selections should be cautious, at the low end of dosage range; titration
                        should be slower, allowing adequate time to evaluate response.
                        <h3>Dosing :hepatic impairment:adult</h3>
                        There are no specific dosage adjustments provided in the manufacturer’s
                        labeling; however, consider a dose reduction. Clearance is reduced in varying degrees based on
                        the level of impairment.
                        <h3>Dosing :renal impairment :adult</h3>
                        There are no specific dosage
                        adjustments provided in the manufacturer’s labeling; however, clearance is reduced in varying
                        degrees based on the level of hepatic impairment; adult data suggests a dosage adjustment.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseTwo" role="button"
                    aria-expanded="false" aria-controls="dexmedetomidineCollapseTwo">
                    <div class="card-header" id="dexmedetomidineheadingTwo">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="dexmedetomidineCollapseTwo" class="collapse" aria-labelledby="dexmedetomidineheadingTwo"
                    data-parent="#dexmedetomidine">
                    <div class="card-body">
                      Tachycardia, bradycardia, hypertension, hypotension, dry mouth.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseThree" role="button"
                    aria-expanded="false" aria-controls="dexmedetomidineCollapseThree">
                    <div class="card-header" id="dexmedetomidineheadingThree">
                      <h1 class="card-heading">Contraindications</h1>
                    </div>
                  </a>
                  <div id="dexmedetomidineCollapseThree" class="collapse" aria-labelledby="dexmedetomidineheadingThree"
                    data-parent="#dexmedetomidine">
                    <div class="card-body">
                      Should generally be avoided in patients with acute decompensated heart failure or advanced heart
                      block.
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="benzodiazepenes" role="tabpanel" aria-labelledby="benzodiazepenes-tab">
        <div class="mainContent">
          <ul class="nav nav-pills mb-3" id="pills-tab-benzodiazepenes" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-lorazepam-tab" data-toggle="pill" href="#pills-lorazepam" role="tab"
                aria-controls="pills-lorazepam" aria-selected="true">Lorazepam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-midazolam-tab" data-toggle="pill" href="#pills-midazolam" role="tab"
                aria-controls="pills-midazolam" aria-selected="false">Midazolam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-general-precautions-tab" data-toggle="pill"
                href="#pills-general-precautions" role="tab" aria-controls="pills-general-precautions"
                aria-selected="false">General precautions</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tab-benzodiazepenesContent">
            <div class="tab-pane fade show active" id="pills-lorazepam" role="tabpanel"
              aria-labelledby="pills-lorazepam-tab">

              <div id="lorazepam">
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#lorazepamcollapseOne" role="button"
                    aria-expanded="false" aria-controls="lorazepamcollapseOne">
                    <div class="card-header" id="lorazepamheadingOne">
                      <h1 class="card-heading">Dosing range</h1>
                    </div>
                  </a>

                  <div id="lorazepamcollapseOne" class="collapse" aria-labelledby="lorazepamheadingOne"
                    data-parent="#lorazepam">
                    <div class="card-body">
                      <h3>Dosing:adult</h3>
                      <b>Sedation/agitation, critical illness (alternative agent) (off-label use):</b>
                      Note: Titrate to light level of sedation (eg, RASS 0 to -2).
                      Intermittent as-needed therapy is preferred to avoid over sedation .
                      For obese patients, fixed dosing is preferred; alternatively, some use
                      IBW for weight-based dosing .
                      Continuous infusions are not recommended for use in most ICU
                      patients due to propylene glycol (PG) accumulation and subsequent
                      complications (osmol gap metabolic acidosis, kidney failure); monitor
                      PG accumulation with osmol gap; nonbenzodiazepine or midazolam
                      continuous infusions are generally preferred.
                      <h3>Intermittent (preferred):</h3>
                      Fixed dose: IV: Initial dose: 1 to 4 mg; Maintenance: 1 to 4 mg every 2
                      to 6 hours as needed.
                      Weight based: IV: Initial dose: 0.02 to 0.04 mg/kg (maximum single
                      dose: 4 mg); Maintenance: 0.02 to 0.06 mg/kg every 2 to 6 hours as
                      needed (maximum single dose: 4 mg)
                      <h3>Continuous:</h3> IV: 0.01 to 0.1 mg/kg/hour continuous infusion
                      (maximum dose: ≤10 mg/hour)
                      <h3>Dosing :</h3>hepatic impairment:adult
                      Parenteral:
                      Mild to moderate impairment: No dosage adjustment necessary; use
                      with caution.
                      Severe impairment or failure: Although manufacturer labeling suggests
                      use is not recommended, clearance does not appear to be influenced
                      by hepatic disease; use with caution.
                      <h3>Dosing: hepatic impairment:pediatrics</h3>
                      Children ≥12 years and Adolescents: No dosage adjustment necessary.
                      For severe hepatic disease, use with caution; benzodiazepines may
                      worsen hepatic encephalopathy.
                      <h3>Dosing :renal imapairment:adults</h3>
                      Parenteral:
                      Mild to severe impairment: No dosage adjustment necessary for acute
                      doses; use repeated doses with caution; may increase the risk of
                      propylene glycol toxicity. Monitor osmol gap closely, as a surrogate
                      marker for propylene glycol accumulation, if using for prolonged
                      periods of time or at high doses.
                      <h3>Dosing :renal impairment:pediatrics</h3>
                      Iv: No dosage adjustment necessary for acute doses; use repeated
                      doses with caution; may increase the risk of propylene glycol toxicity.
                      Monitor closely if using for prolonged periods of time or at high doses.
                      In adults, the osmolar gap has been shown to be a surrogate marker for
                      propylene glycol accumulation
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#lorazepamcollapseTwo" role="button"
                    aria-expanded="false" aria-controls="lorazepamcollapseTwo">
                    <div class="card-header" id="lorazepamheadingTwo">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="lorazepamcollapseTwo" class="collapse" aria-labelledby="lorazepamheadingTwo"
                    data-parent="#lorazepam">
                    <div class="card-body">
                      <ul>
                        <li>
                          Propylene glycol toxicity: Because of its insolubility, injectable lorazepam is diluted in
                          propylene glycol.
                          Propylene glycol toxicity can occur with infusions for more than 48 hours, particularly at
                          doses of 6–8 mg/hour or greater:
                          <strong>
                            Presence of an osmolar gap, metabolic acidosis, unexplained new onset renal failure, and
                            respiratory failure should prompt concern for propylene glycol toxicity, and lorazepam
                            should be discontinued.
                          </strong>
                        </li>
                        <li>
                          Paradoxical agitation
                        </li>
                        <li>
                          Over sedation, confusion
                        </li>
                        <li>
                          Respiratory depression, hypotension
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-midazolam" role="tabpanel" aria-labelledby="pills-midazolam-tab">

              <div id="midazolam">
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#midazolamcollapseOne" role="button"
                    aria-expanded="false" aria-controls="midazolamcollapseOne">
                    <div class="card-header" id="midazolamheadingOne">
                      <h1 class="card-heading">Dosing range</h1>
                    </div>
                  </a>

                  <div id="midazolamcollapseOne" class="collapse" aria-labelledby="midazolamheadingOne"
                    data-parent="#midazolam">
                    <div class="card-body">
                      <h3>Dosing:adult</h3>
                      Sedation in mechanically ventilated ICU patients: Note:
                      Nonbenzodiazepine sedation may be preferred .
                      IV: Initial: 0.01 to 0.05 mg/kg (~0.5 to 4 mg); may repeat at 10- to
                      15-minute intervals until adequate sedation achieved;
                      maintenance infusion: 0.02 to 0.1 mg/kg/hour (0.3 to 1.7
                      mcg/kg/minute). Titrate to reach desired level of sedation . Titration to
                      maintain a light rather than a deep level of sedation is recommended
                      unless clinically contraindicated
                      Consider a trial of daily awakening; if agitated after discontinuation of
                      drip, then restart at 50% of the previous dose.
                      <h3>Dosing:geriatrics:</h3>
                      Parenteral: The dose of midazolam needs to be individualized based on
                      the patient's age, underlying diseases, and concurrent medications.
                      Consider reducing dose by 20% to 50% in elderly, chronically ill, or
                      debilitated patients and those receiving opioids or other CNS
                      depressants . Titration of doses should also be slower.
                      <h3>Dosing:hepatic impairment adult</h3>
                      There are no dosage adjustments provided in the manufacturer's
                      labeling; use with caution.
                      IV:
                      Single dose (eg, induction): No dosage adjustment recommended;
                      patients with hepatic impairment may be more sensitive compared to
                      patients without hepatic impairment; anticipate longer duration of
                      action.
                      Multiple dosing or continuous infusion: Expect longer duration of
                      action and accumulation; based on patient response, dosage reduction
                      likely to be necessary.
                      <h3>Dosing:pediatrics</h3>
                      Dosage must be individualized and based on patient's age, underlying
                      diseases, concurrent medications, and desired effect; decrease dose (by
                      ∼30%) if opioids or other CNS depressants are administered
                      concomitantly; use multiple small doses and titrate to desired sedative
                      effect; allow 3 to 5 minutes between doses to decrease the chance of
                      oversedation. The nasal spray formulation delivers a fixed dose of 5 mg
                      and is not appropriate for all pediatric patients; for smaller intranasal
                      doses, parenteral solution for injection can be used; ensure appropriate
                      product selection and administration technique.
                      Sedation, mechanically ventilated patient: Infants, Children, and
                      Adolescents: IV: Loading dose: 0.05 to 0.2 mg/kg given slow IV over 2 to
                      3 minutes, then follow with initial continuous IV infusion: 0.06 to 0.12
                      mg/kg/hour (1 to 2 mcg/kg/minute); titrate to the desired effect; range:
                      0.024 to 0.36 mg/kg/hour (0.4 to 6 mcg/kg/minute).
                      <h3>Dosing:hepatic impairment:pediatrics</h3>
                      There are no dosage adjustments provided in the manufacturer's
                      labeling; use with caution. Based on experience in adult patients, the
                      following have been suggested and may be considered in pediatric
                      patients:
                      Single dose (eg, induction): No dosage adjustment recommended;
                      patients with hepatic impairment may be more sensitive compared to
                      patients without hepatic impairment; anticipate longer duration of
                      action.
                      Multiple dosing or continuous infusion: Expect longer duration of action
                      and accumulation; based on patient response, dosage reduction likely
                      to be necessary.
                      <h3>Dosing :renal impairment :adults</h3>
                      There are no dosage adjustments provided in the manufacturer's
                      labeling; use with caution; half-life of midazolam and metabolites may
                      be prolonged. Patients with renal failure receiving a continuous infusion
                      cannot adequately eliminate the active hydroxylated metabolites (eg,
                      1-hydroxymidazolam) contributing to prolonged sedation sometimes
                      for days after discontinuation.
                      <br>Intermittent hemodialysis: Supplemental dose is not necessary.
                      <br>Continuous venovenous hemofiltration: Unconjugated
                      <br>1-hydroxymidazolam not effectively removed;
                      <br>1-hydroxymidazolamglucuronide effectively removed.
                      Peritoneal dialysis: Significant drug removal is unlikely based on
                      physiochemical characteristics.
                      <h3>Dosing :renal impairment :pediatrics</h3>
                      Refer to adult renal impairment doses.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#midazolamcollapseTwo" role="button"
                    aria-expanded="false" aria-controls="midazolamcollapseTwo">
                    <div class="card-header" id="midazolamheadingTwo">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="midazolamcollapseTwo" class="collapse" aria-labelledby="midazolamheadingTwo"
                    data-parent="#midazolam">
                    <div class="card-body">
                      <p class="card-p">
                        Paradoxical agitation, over sedation, and prolonged duration of sedative action; respiratory
                        depression, hypotension.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-general-precautions" role="tabpanel"
              aria-labelledby="pills-general-precautions-tab">
              <div class="instruction">
                <h2 class="fs-title">N.B</h2>
                <p>- Accumulation following prolonged use of benzodiazepines may cause cognitive impairment and
                  delirium
                  even after treatment is discontinued.
                </p>
                <p>- Dosing generally needs to be decreased well before drugs are stopped.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>