<link rel="stylesheet" href="/css/caution.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Agitation</li>
            <li class="breadcrumb-item active" aria-current="page">Cautions</li>
        </ol>
    </nav>


    <div class="mainContent">
        <div class="container">
            <div class="row">
                <div class="holder checklist-holder">
                    <table width="100%">
                        <tr>
                            <td>
                                Select the medical condition of your patient
                            </td>
                            <td>
                                <img src="/img/icons8-checklist-64.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>Liver impairment</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check1" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pancreatitis</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check2" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Neurological injury</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check3" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>History of triglyceridrmia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check4" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Acute decompensated heart failure</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check5" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Advanced Heart block</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check6" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Osmolar gap, Metabolic acidosis</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check7" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Un explained new onset Renal Failure</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check8" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Renal impairment</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check9" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Respiratory Failure</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check10" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Elderly</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check11" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Administerating opioid</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check12" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Sepsis</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check13" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Intubated Mechanically Ventilated</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="agitation-caution-check14" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div style="text-align: right;">
                        <input id="agitation-caution-checklist-submit" type="submit" value="submit">
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="holder">
                    <div id="agitation-caution-result">
                        Click on submit button to see the required instructions
                    </div>
                </div>
            </div>
        </div>


    </div>





</div>