<div style = "margin-top: 120px;margin-left:5%;margin-right:5%;">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Agitation</li>
            <li class="breadcrumb-item active" aria-current="page">RSS scoring system</li>
        </ol>
    </nav>

    <div class = "mainContent">
        <h2>Instructions</h2>
        <div class = "instruction bigInstructions">    
            <ol>
                <li>
                    Observe patient. Is patient alert and calm (score 0)?
                </li>
                <li>
                    Does patient have behavior that is consistent with restlessness or agitation?
                    <br>
                    <div class="how-to-count"> Assign score +1 to +4 using the criteria listed below.<br></div>
                </li>
                <li>
                    If patient is not alert, in a loud speaking voice state patient's name and direct patient to open eyes and look at speaker.<br> Repeat once if necessary. Can prompt patient to continue looking at speaker.

                    Patient has eye opening and eye contact, which is sustained for more than 10 seconds <div class="how-to-count score">(score -1).</div><br>

                    Patient has eye opening and eye contact, but this is not sustained for 10 seconds <div class="how-to-count score">(score -2).</div><br>

                    Patient has any movement in response to voice, excluding eye contact <div class="how-to-count score">(score -3).</div><br>

                </li>

                <li>
                    If patient does not respond to voice, physically stimulate patient by shaking shoulder and then rubbing sternum if there is no response.

                    Patient has any movement to physical stimulation <div class="how-to-count score">(score -4).</div><br>

                    Patient has no response to voice or physical stimulation <div id="RASS-Table" class="how-to-count score">(score -5).</div>
                </li>

            </ol>
        </div>
        <h2>Richmond Agitation-Sedation Scale</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th style="width: 1%" scope="col">score</th>
                <th style="width: 10%" scope="col">classification</th>
                <th style="width: 89%" scope="col">(RASS)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th  scope="row"><a id="RASS-pos-4" href="#RSS-Results"><div class="score-table-th"  style="background:#003366;">+4</div></a></th>
                <td>Combative</td>
                <td>Overtly combative or violent; immediate danger to staff</td>
                </tr>
                <tr>
                <th scope="row"><a id="RASS-pos-3" href="#RSS-Results"><div class="score-table-th" style="background:#003b77;">+3</div></a></th>
                <td>Very agitated</td>
                <td>Pulls on or removes tube(s) or catheter(s) or has aggressive behavior toward staff</td>
                </tr>
                <tr>
                <th scope="row"><a id="RASS-pos-2" href="#RSS-Results"><div class="score-table-th" style="background:#004388">+2</div></a></th>
                <td>Agitated</td>
                <td>Frequent nonpurposeful movement or patient–ventilator dyssynchrony</td>
                </tr>
                <tr>
                <th scope="row"><a id="RASS-pos-1" href="#RSS-Results"><div class="score-table-th" style="background:#004b99">+1</div></a></th>
                <td>Restless</td>
                <td>Anxious or apprehensive but movements not aggressive or vigorous</td>
                </tr>
                    <tr>
                    <th scope="row"><a  id="RASS-0" href="#RSS-Results"><div class="score-table-th" style="background:#0053aa">0</div></a></th>
                    <td>Alert and calm</td>
                    <td>Spontaneously pays attention to caregiver</td>
                    </tr>
                <tr>
                <th scope="row"><a id="RASS-neg-1" href="#RSS-Results"><div class="score-table-th" style="background:#0058bb">-1</div></a></th>
                <td>Drowsy</td>
                <td>Not fully alert, but has sustained (more than 10 seconds) awakening, with eye contact, to voice</td>
                </tr>
                <tr>
                <th scope="row"><a id="RASS-neg-2" href="#RSS-Results"><div class="score-table-th" style="background:#0063cc">-2</div></a></th>
                <td>Light sedation</td>
                <td>Briefly (less than 10 seconds) awakens with eye contact to voice</td>
                </tr>
                <tr>
                <th scope="row"><a id="RASS-neg-3" href="#RSS-Results"><div class="score-table-th" style="background:#006bdd">-3</div></a></th>
                <td>Moderate sedation</td>
                <td>Any movement (but no eye contact) to voice</td>
                </tr>
                <tr>
                <th scope="row"><a id="RASS-neg-4" href="#RSS-Results"><div class="score-table-th" style="background:#0073ee">-4</div></a></th>
                <td>Deep sedation</td>
                <td>No response to voice, but any movement to physical stimulation</td>
                </tr>
                <tr>
                <th scope="row"><a id="RASS-neg-5" href="#RSS-Results"><div class="score-table-th" style="background:#007bff">-5</div></a></th>
                <td>Unarousable sedation</td>
                <td>No response to voice or physical stimulation</td>
                </tr>
            </tbody>
        </table>
        
        <h2>Results</h2>
        <div class="scoring-result">
            <div id="RSS-Results"></div>
        </div>
        <br>
        <h2>Next steps</h2>
        <div class="scoring-result">
            <h3 class="h3-sub-title">Management</h3>
            <ul style="margin-left: 5%;">
                <li>
                    Patients with a RASS of -3 or less should have their sedation decreased or modified in order to achieve a RASS of -2 to 0.
                </li>
                <li>
                    Patients with a RASS of 2 to 4 are not sedated enough and should be assessed for pain, anxiety, or delirium. The underlying etiology of the agitation should be investigated and appropriately treated to achieve a RASS of -2 to 0.
                </li>
            </ul>
            <h3 class="h3-sub-title">Critical actions</h3>
            <ul style="margin-left: 5%;">
                <li>
                    A RASS score should be obtained on all hospitalized patients and at regular interval in all mechanically ventilated patients.
                </li>
                <li>
                    Unless a patient meets indication for deep sedation, a protocol for minimal sedation (RASS -2 to 0) should be used.
                </li>
            </ul>
        </div>
        
    </div>


</div>