<div style = "margin-top: 120px;margin-left:5%;margin-right:5%;">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agitation</li>
            <li class="breadcrumb-item active" aria-current="page">Scoring</li>
        </ol>
    </nav>

    <div class = "mainContent">
        <h2 style="color:brown;">Instructions</h2>
        <div style="padding-left:3%;padding-top:1%;font-size:24px;font-weight:100;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            
        <ol>
            <li>
                Observe patient. Is patient alert and calm (score 0)?
            </li>
            <li>
                Does patient have behavior that is consistent with restlessness or agitation?
                <br>
                Assign score +1 to +4 using the criteria listed above.<br>
            </li>
            <li>
                If patient is not alert, in a loud speaking voice state patient's name and direct patient to open eyes and look at speaker.<br> Repeat once if necessary. Can prompt patient to continue looking at speaker.

                Patient has eye opening and eye contact, which is sustained for more than 10 seconds (score -1).

                Patient has eye opening and eye contact, but this is not sustained for 10 seconds (score -2).

                Patient has any movement in response to voice, excluding eye contact (score -3).

            </li>

            <li>
                If patient does not respond to voice, physically stimulate patient by shaking shoulder and then rubbing sternum if there is no response.

                Patient has any movement to physical stimulation (score -4).<br>

                Patient has no response to voice or physical stimulation (score -5).<br>

            </li>

        </ol>
        </div>
    </div>

    <style>
        .mainContent{
            width: 100%;
            height:100%;
            background-color:white;
            padding:5%;
            border-radius: 7px;
        }
    </style>

</div>