<link rel="stylesheet" href="css/cards.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Agitation</li>
      <li class="breadcrumb-item active" aria-current="page">Management</li>
    </ol>
  </nav>


  <div class="mainContent">
    <h2>Drugs</h2>
    <br>
    <ul class="nav nav-tabs" id="agitationManagementTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="non-benzodiazepenes-tab" data-toggle="tab" href="#non-benzodiazepenes" role="tab"
          aria-controls="non-benzodiazepenes" aria-selected="true">Non Benzodiazepenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="benzodiazepenes-tab" data-toggle="tab" href="#benzodiazepenes" role="tab"
          aria-controls="benzodiazepenes" aria-selected="false">Benzodiazepenes</a>
      </li>
    </ul>
    <div class="tab-content" id="agitationManagementTabContent">
      <div class="tab-pane fade show active" id="non-benzodiazepenes" role="tabpanel"
        aria-labelledby="non-benzodiazepenes-tab">
        <div class="mainContent">
          <ul class="nav nav-pills mb-3" id="pills-tab-non-benzodiazepenes" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-propofol-tab" data-toggle="pill" href="#pills-propofol" role="tab"
                aria-controls="pills-propofol" aria-selected="true">Propofol</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-dexmedetomidine-tab" data-toggle="pill" href="#pills-dexmedetomidine"
                role="tab" aria-controls="pills-dexmedetomidine" aria-selected="false">Dexmedetomidine</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tab-non-benzodiazepenesContent">
            <div class="tab-pane fade show active" id="pills-propofol" role="tabpanel"
              aria-labelledby="pills-propofol-tab">
              <div id="propofol">
                <div class="card">

                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseOne" role="button"
                    aria-expanded="false" aria-controls="propofolCollapseOne">
                    <div class="card-header" id="propofolheadingOne">
                      <h1 class="card-heading">
                        Dosing range
                      </h1>
                    </div>
                  </a>
                  <div id="propofolCollapseOne" class="collapse" aria-labelledby="propofolheadingOne"
                    data-parent="#propofol">
                    <div class="card-body">
                      <h3>Initiation</h3>
                      <p class="card-p">
                        Propofol should be initiated at a low dose (approximately equal to 5 mcg/kg/minute) and titrated
                        every 5–10 minutes to goal sedative effect.
                      </p>
                      <h3>Maintenance</h3>
                      <p class="card-p">
                        Most patients in the ICU will be maintained at a dose of 5–50 mcg/kg/minute.
                        Abrupt discontinuation of propofol is not recommended because of its rapid clearance (5–10
                        minutes).
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseTwo" role="button"
                    aria-expanded="false" aria-controls="propofolCollapseTwo">
                    <div class="card-header" id="propofolheadingTwo">
                      <h1 class="card-heading">Formulation</h1>
                    </div>
                  </a>
                  <div id="propofolCollapseTwo" class="collapse" aria-labelledby="propofolheadingTwo"
                    data-parent="#propofol">
                    <div class="card-body">
                      <p class="card-p">
                        Standard propofol is a 1% (10 mg/mL) lipid emulsion containing 1.1 kcal/mL (0.1 g of fat per 1
                        mL of propofol)
                        This must be considered when calculating nutritional intake
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseThree" aria-expanded="false"
                    aria-controls="propofolCollapseThree">
                    <div class="card-header" id="propofolheadingThree">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="propofolCollapseThree" class="collapse" aria-labelledby="propofolheadingThree"
                    data-parent="#propofol">
                    <div class="card-body">
                      <p class="card-p">
                        <ul>
                          <li>Bradycardia and hypotension (may be more common or severe in patients with cardiac
                            dysfunction, intravascular volume depletion, or low systemic vascular resistance)
                            <div class="underline">The risk of hypotension can be decreased, but not avoided completely,
                              by foregoing bolus dosing</div>
                          </li>
                          <li>Respiratory depression</li>
                          <li>Hypertriglyceridemia</li>
                          <li>Pancreatitis with or without hypertriglyceridemia</li>
                          <li>
                            <a data-toggle="collapse" href="#PRIS" role="button" aria-expanded="false"
                              aria-controls="PRIS">
                              PRIS
                            </a>
                          </li>
                        </ul>
                      </p>
                      <div class="card collapse" id="PRIS">
                        <div class="card-content">
                          <div class="card-body">
                            <h3>Propofol Related Infusion Syndrome</h3>
                            <p class="card-p">
                              This syndrome is a rare but life-threatening complication of propofol, generally occurring
                              at doses exceeding 50 mcg/kg/minute for 48 hours or more.
                              It occur due alteration in liver metabolism of the lipid emulsion, leading to the
                              accumulation of ketone bodies and lactate and/or disruptions in the mitochondrial
                              respiratory chain and inhibition of oxidative phosphorylation. Patients with urea cycle
                              disorders may experience alterations in propofol metabolism within 24–48 hours of propofol
                              use.
                            </p>
                            <h3>Clinical characteristics of PRIS may include</h3>
                            <p class="card-p">
                              Metabolic acidosis , acute renal failure, cardiac failure, Rhabdomyolysis, Myoglobinemia,
                              Myoglobinuria, hyperkalemia, hypertriglyceridemia, and elevated creatine kinase levels.
                            </p>

                            <p class="card-p"><b>
                                PRIS can be life threatening, and propofol should be discontinued immediately if
                                symptoms are present.
                              </b></p>

                            <h3>Risk factors for PRIS</h3>
                            <p class="card-p">

                              <ul>
                                <li>Decreased oxygen delivery to tissues</li>
                                <li>Neurologic injury</li>
                                <li>Sepsis</li>
                                <li>Use of vasoactive medications</li>
                                <li>High-dose propofol</li>
                                <li>Acute liver failure</li>
                                <li>History of hypertriglyceridemia and/or pancreatitis</li>
                              </ul>
                            </p>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#propofolCollapseFour" role="button"
                    aria-expanded="false" aria-controls="propofolCollapseFour">
                    <div class="card-header" id="propofolheadingFour">
                      <h1 class="card-heading">Contraindications</h1>
                    </div>
                  </a>
                  <div id="propofolCollapseFour" class="collapse" aria-labelledby="propofolheadingFour"
                    data-parent="#propofol">
                    <div class="card-body">
                      <p class="card-p">
                        Consider avoiding in patients with acute liver failure, or pancreatitis, because the symptoms of
                        PRIS may be difficult to distinguish from the underlying disease state abnormalities.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-dexmedetomidine" role="tabpanel"
              aria-labelledby="pills-dexmedetomidine-tab">


              <div id="dexmedetomidine">
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseOne" role="button"
                    aria-expanded="false" aria-controls="dexmedetomidineCollapseOne">
                    <div class="card-header" id="dexmedetomidineheadingOne">
                      <h1 class="card-heading">Dosing range</h1>
                    </div>
                  </a>
                  <div id="dexmedetomidineCollapseOne" class="collapse" aria-labelledby="dexmedetomidineheadingOne"
                    data-parent="#dexmedetomidine">
                    <div class="card-body">
                      <div class="card-body">
                        <h3>Initiation</h3>
                        <p class="card-p">
                          Optional loading dose 0.5–1 mcg/kg intravenously over 10 minutes, followed by 0.2–0.7
                          mcg/kg/hour. The loading dose may cause severe tachycardia and hypertension because of
                          receptor oversaturation, which may then result in significant bradycardia and/or hypotension.
                          Because of these untoward hemodynamic effects, the loading dose is rarely administered in
                          clinical ICU practice on initiation of dexmedetomidine, and the drip is generally initiated at
                          0.2 mcg/kg/hour. If a loading dose is desired, a reduced infusion rate should be considered.
                        </p>
                        <h3>Maintenance</h3>
                        <p class="card-p">
                          Randomized trials have safely used dexmedetomidine at higher-than-manufacturer recommended
                          doses (up to 1.5 mcg/kg/hour).
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseTwo" role="button"
                    aria-expanded="false" aria-controls="dexmedetomidineCollapseTwo">
                    <div class="card-header" id="dexmedetomidineheadingTwo">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="dexmedetomidineCollapseTwo" class="collapse" aria-labelledby="dexmedetomidineheadingTwo"
                    data-parent="#dexmedetomidine">
                    <div class="card-body">
                      Tachycardia, bradycardia, hypertension, hypotension, dry mouth.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseThree" role="button"
                    aria-expanded="false" aria-controls="dexmedetomidineCollapseThree">
                    <div class="card-header" id="dexmedetomidineheadingThree">
                      <h1 class="card-heading">Contraindications</h1>
                    </div>
                  </a>
                  <div id="dexmedetomidineCollapseThree" class="collapse" aria-labelledby="dexmedetomidineheadingThree"
                    data-parent="#dexmedetomidine">
                    <div class="card-body">
                      Should generally be avoided in patients with acute decompensated heart failure or advanced heart
                      block.
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="benzodiazepenes" role="tabpanel" aria-labelledby="benzodiazepenes-tab">
        <div class="mainContent">
          <ul class="nav nav-pills mb-3" id="pills-tab-benzodiazepenes" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-lorazepam-tab" data-toggle="pill" href="#pills-lorazepam" role="tab"
                aria-controls="pills-lorazepam" aria-selected="true">Lorazepam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-midazolam-tab" data-toggle="pill" href="#pills-midazolam" role="tab"
                aria-controls="pills-midazolam" aria-selected="false">Midazolam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-general-precautions-tab" data-toggle="pill"
                href="#pills-general-precautions" role="tab" aria-controls="pills-general-precautions"
                aria-selected="false">General precautions</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tab-benzodiazepenesContent">
            <div class="tab-pane fade show active" id="pills-lorazepam" role="tabpanel"
              aria-labelledby="pills-lorazepam-tab">

              <div id="lorazepam">
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#lorazepamcollapseOne" role="button"
                    aria-expanded="false" aria-controls="lorazepamcollapseOne">
                    <div class="card-header" id="lorazepamheadingOne">
                      <h1 class="card-heading">Dosing range</h1>
                    </div>
                  </a>

                  <div id="lorazepamcollapseOne" class="collapse" aria-labelledby="lorazepamheadingOne"
                    data-parent="#lorazepam">
                    <div class="card-body">
                      <p class="card-p">
                        1–4 mg every 4–6 hours intermittent dosing is recommended before using continuous infusion, as
                        rapid accumulation with prolonged duration of action of lorazepam commonly occurs with
                        continuous infusion.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#lorazepamcollapseTwo" role="button"
                    aria-expanded="false" aria-controls="lorazepamcollapseTwo">
                    <div class="card-header" id="lorazepamheadingTwo">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="lorazepamcollapseTwo" class="collapse" aria-labelledby="lorazepamheadingTwo"
                    data-parent="#lorazepam">
                    <div class="card-body">
                      <ul>
                        <li>
                          Propylene glycol toxicity: Because of its insolubility, injectable lorazepam is diluted in
                          propylene glycol.
                          Propylene glycol toxicity can occur with infusions for more than 48 hours, particularly at
                          doses of 6–8 mg/hour or greater:
                          <strong>
                            Presence of an osmolar gap, metabolic acidosis, unexplained new onset renal failure, and
                            respiratory failure should prompt concern for propylene glycol toxicity, and lorazepam
                            should be discontinued.
                          </strong>
                        </li>
                        <li>
                          Paradoxical agitation
                        </li>
                        <li>
                          Over sedation, confusion
                        </li>
                        <li>
                          Respiratory depression, hypotension
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-midazolam" role="tabpanel" aria-labelledby="pills-midazolam-tab">

              <div id="midazolam">
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#midazolamcollapseOne" role="button"
                    aria-expanded="false" aria-controls="midazolamcollapseOne">
                    <div class="card-header" id="midazolamheadingOne">
                      <h1 class="card-heading">Dosing range</h1>
                    </div>
                  </a>

                  <div id="midazolamcollapseOne" class="collapse" aria-labelledby="midazolamheadingOne"
                    data-parent="#midazolam">
                    <div class="card-body">
                      <h3>Initiatin</h3>
                      <p class="card-p">
                        IV: Initial: 0.01 to 0.05 mg/kg (~0.5 to 4 mg); may repeat at 10- to 15-minute intervals until
                        adequate sedation achieved.
                      </p>
                      <h3>Maintenance</h3>
                      <p class="card-p">
                        maintenance infusion: 0.02 to 0.1 mg/kg/hour (0.3 to 1.7 mcg/kg/minute). Titrate to reach
                        desired level of sedation Titration to maintain a light rather than a deep level of sedation is
                        recommended unless clinically contraindicated Consider a trial of daily awakening; if agitated
                        after discontinuation of drip, then restart at 50% of the previous dose.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <a class="collapsed" data-toggle="collapse" href="#midazolamcollapseTwo" role="button"
                    aria-expanded="false" aria-controls="midazolamcollapseTwo">
                    <div class="card-header" id="midazolamheadingTwo">
                      <h1 class="card-heading">Adverse effects</h1>
                    </div>
                  </a>
                  <div id="midazolamcollapseTwo" class="collapse" aria-labelledby="midazolamheadingTwo"
                    data-parent="#midazolam">
                    <div class="card-body">
                      <p class="card-p">
                        Paradoxical agitation, over sedation, and prolonged duration of sedative action; respiratory
                        depression, hypotension.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-general-precautions" role="tabpanel"
              aria-labelledby="pills-general-precautions-tab">
              <div class="instruction">
                <h2 class="fs-title">N.B</h2>
                <p>- Accumulation following prolonged use of benzodiazepines may cause cognitive impairment and delirium
                  even after treatment is discontinued.
                </p>
                <p>- Dosing generally needs to be decreased well before drugs are stopped.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>