<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="precipitatingfactors.html">Precipitating factors</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agitation</li>
        </ol>
    </nav>

    <div class="mainContent">
        <h4>Precipitating factors for agitation</h4>

        <div class="sun-custom-list">
            <ul>
                <li>
                    Incidence of Delirium
                </li>
                <li> Previous habits of smoking
                </li>
                <li> Patients with moderate to severe pain
                </li>
                <li> Mechanical ventilation (the presence of the endotracheal
                    tube, respiratory secretions and asynchrony with the
                    ventilator)
                </li>
                <li> The inability to communicate
                </li>
            </ul>
        </div>
    </div>

</div>