<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="precipitatingfactors.html">Precipitating factors</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criteria for the use of paralytics in ICU patients
            </li>
        </ol>
    </nav>

    <div class="mainContent">
        <h4>Criteria for the use of paralytics in ICU patients</h4>

        <div class="sun-custom-list">
            <ul>
                <li> Rapid sequence intubation
                </li>
                <li> early acute respiratory distress syndrome (ARDS)
                </li>
                <li> In that case they establish a lung protective strategy,
                    improve oxygenation and decrease pulmonary and
                    systemic inflammation.
                </li>
                <li> patients on full ventilatory support
                </li>
                <li> when usual care fails
                </li>
                <li> Status asthmaticus
                </li>
                <li> Elevated ICP that can't be prevented by sedation
                </li>
                <li> Elevated intrabdominal pressure
                </li>
                <li> therapeutic hypothermia following ventricular fibrillation
                    associated cardiac arrest</li>
            </ul>
        </div>
    </div>

</div>