<div style = "margin-top: 120px;margin-left:5%;margin-right:5%;">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">delirium</li>
        </ol>
    </nav>

    <h1  style = "margin:3%;">Todo delirium</h1>
</div>