<div style = "margin-top: 120px;margin-left:5%;margin-right:5%;">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Delirium</li>
            <li class="breadcrumb-item active" aria-current="page">Scoring</li>
        </ol>
    </nav>

    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h1><strong>CAM-ICU work sheet </strong></h1>
                    <p>Fill all form field to go to next step</p>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="account"><strong>Acute Onset or Fluctuating Course</strong></li>
                                    <li id="personal"><strong>Inattention</strong></li>
                                    <li id="payment"><strong>Altered Level of Consciousness</strong></li>
                                    <li id="confirm"><strong>Disorganized Thinking</strong></li>
                                </ul> <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Acute Onset or Fluctuating Course</h2>
                                        <label class="question">1) Is the pt different than his/her baseline mental status?</label>
                                        <br>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="delirium1yes" name="delirium-question1_1" value="yes">
                                            <label class="custom-control-label" for="delirium1yes">yes</label>
                                        </div>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="delirium1no" name="delirium-question1_1" value="no">
                                            <label class="custom-control-label" for="delirium1no">no</label>
                                        </div>

                                        <label class="question">2)Has the patient had any fluctuation in mental status in the past 24 hours as evidenced by fluctuation on a sedation scale <a href="agitationRSSScoring.html#RASS-Table" target="_blank">RASS</a>, <a  data-target="#modalGCS" data-toggle="modal" href="#">GCS</a>, or previous delirium assessment ? </label>
                                        <!-- Default inline 1-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="delirium2yes" name="delirium-question1_2" value="yes">
                                            <label class="custom-control-label" for="delirium2yes">yes</label>
                                        </div>

                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="delirium2no" name="delirium-question1_2" value="no">
                                            <label class="custom-control-label" for="delirium2no">no</label>
                                        </div>

                                    </div> <input type="button" name="next" class="next action-button" value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Inattention</h2>
                                        <div class = "instruction">
                                            <div class = "instruction-section">
                                                    <h5>Directions</h5>
                                                    <div class = "instruction-inner-section" >
                                                        <ul>
                                                            <li>Say to the patient, “I am going to read you a series of 10 letters. Whenever you hear the letter ‘A,’ indicate by squeezing my hand.”</li>
                                                            <li>
                                                                Read letters from the following letter list in a normal tone 3 seconds apart.
                                                                <br>
                                                                <div style="text-align: center;">
                                                                   <p><b>"SAVEAHAART"</b></p>    
                                                                </div>
                                                            </li>
                                                        </ul>
                                                </div>
                                                <br>
                                                    <p class="how-to-count">
                                                        Errors are counted when patient fails to squeeze on the letter “A” and when the patient squeezes on any letter other than “A.”
                                                    </p>
                                            </div>  
                                        </div>
                                        <label for="delirium-no-of-errors1">Number of errors(between 0 and 10)</label>
                                        <input type="range" name="delirium-no-of-errors1" id="delirium-no-of-errors1" min="0" max="10">
                                        <div id="delirium-no-of-errors1-result"><b></b> errors</div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Altered Level of Consciousness</h2>
                                        <label for="actual-rass-score">Actual <a href="agitationRSSScoring.html#RASS-Table" target="_blank">RASS</a> score(between -5 and +4)</label>
                                        <input type="range" name="actual-rass-score" id="actual-rass-score" min="-5" max="4">
                                        <div id="actual-rass-score-result">Score:  <b></b></div>
                                    
                                    </div> 
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Disorganized Thinking</h2>
                                        <div class = "instruction">
                                                    <div class = "instruction-section">
                                                        <h5>First ask pt (Yes/No Questions)</h5>
                                                        <div class = "instruction-inner-section">
                                                            <ol>
                                                                <li>Will a stone float on water?</li>
                                                                <li>Are there fish in the sea?</li>
                                                                <li>Does one pound weigh more than two pounds?</li>
                                                                <li>Can you use a hammer to pound a nail?</li>
                                                            </ol>
                                                        </div>
                                                            
                                                        <p class="how-to-count">
                                                            Errors are counted when the patient incorrectly answers a question.
                                                        </p>
                                                    </div>

                                                
                                                    <div class = "instruction-section">
                                                         <h5>Second Directions</h5>
                                                         <div class = "instruction-inner-section" >
                                                                <ul>
                                                                    <li>Say to patient: “Hold up this many fingers” (Hold 2 fingers in front of patient)</li>
                                                                    <li>“Now do the same thing with the other hand” (Do not repeat number of fingers)</li>
                                                                    <li>If pt is unable to move both arms, for 2nd part of command ask patient to “Add one more finger”</li>
                                                                </ul>
                                                        </div>
                                                        <br>
                                                         <p class="how-to-count">
                                                            An error is counted if patient is unable to complete the entire command.
                                                         </p>
                                                    </div>
                                                    
                                        </div>
                                        <label for="delirium-no-of-errors2">Number of errors(between 0 and 7)</label>
                                        <input type="range" name="delirium-no-of-errors2" id="delirium-no-of-errors2" min="0" max="7">
                                        <div id="delirium-no-of-errors2-result"><b></b> errors</div>
                                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next deliriumFinish action-button" value="Finish" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div id="delirium-result"></div>
                                    </div><input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div aria-hidden="true" aria-labelledby="GCSLabel" class="modal fade" id="modalGCS" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body mb-0 p-0">
				<img src="/img/GCS.jpg" alt="" style="width:100%">
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Close</button>
			</div>
		</div>
	</div>
</div>

</div>