<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="/precipitatingfactors.html">Precipitating factors</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delirium</li>
        </ol>
    </nav>

    <div class="mainContent">
        <h4>Precipitating factors for delirium</h4>

        <div class="sun-custom-list">
            <ul>
                <li>
                    Age &gt; 75
                </li>
                <li>Baseline cognitive dysfunction including a lower education
                    level
                </li>
                <li>Male sex
                </li>
                <li>Vision or hearing impairment
                </li>
                <li>Decreased functional ability
                </li>
                <li>Use of IV lines, bladder catheters, or physical restraints
                </li>
                <li>Severe medical illness: Infections, hip fractures,
                    hyperthermia, hypothermia, hypotension, hypo-perfusion,
                    hypoxia or anoxia, malnutrition and nutritional deficiencies,
                    metabolic disorders, and more
                </li>
                <li>Exogenous substances: Medication*, poly-pharmacy,
                    psychoactive medications(including over-the-counter
                    medications), addition of three or more medications
                </li>
                <li>Substance abuse and withdrawal
                </li>
                <li>Heavy metal poisoning
                </li>
                <li>Toxins
                </li>
                <li>Sleep deprivation
                </li>
                <li>Poorly managed pain
                </li>
                <li>Over sedation
                </li>
                <li>Environment
                </li>
                <li>Emotional distress
                </li>
            </ul>
        </div>

        <h4>Drugs believed to cause or prolong delirium</h4>

        <div id="drugs" class="sun-custom-list">
            <ul>
                <li>
                    Corticosteroids
                </li>
                <li>
                    Hypoglycemics
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-one" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-one">
                        Analgesics
                    </a>
                    <div class="card collapse" id="drugs-collapse-one" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>NSAIDS</li>
                                    <li>Opoids (especially, Meperidine)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-two" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-two">
                        CVS and Hypertension drugs
                    </a>
                    <div class="card collapse" id="drugs-collapse-two" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Anti-arrhytmics </li>
                                    <li> Beta Blockers </li>
                                    <li> clonidine</li>
                                    <li>Clonidine </li>
                                    <li> Diuretics </li>
                                    <li> Methyldopa </li>
                                    <li> Digoxin</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-three" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-three">
                        Dopamine Agonists
                    </a>
                    <div class="card collapse" id="drugs-collapse-three" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li> Amantatine </li>
                                    <li> Levodopa </li>
                                    <li> Pergolide</li>
                                    <li> Bromocriptine </li>
                                    <li> Ropinirole </li>
                                    <li> Pramipexol</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-four" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-four">
                        Antibiotics and Antivirals
                    </a>
                    <div class="card collapse" id="drugs-collapse-four" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Acyclovir </li>
                                    <li> Amphotericin </li>
                                    <li> cephalosporins </li>
                                    <li> Fluoroquinolone </li>
                                    <li>Interferon </li>
                                    <li> Macrolides </li>
                                    <li> Nalidixic Acid - Rifampin </li>
                                    <li>Aminoglycosides </li>
                                    <li> Anti-Malarials </li>
                                    <li> Cycloserine </li>
                                    <li>Isoniazid </li>
                                    <li> Linezolid </li>
                                    <li> Metronidazole </li>
                                    <li> Penicillins </li>
                                    <li>Sulfanamides</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-five" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-five">
                        Gastrointestinal Agents
                    </a>
                    <div class="card collapse" id="drugs-collapse-five" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Anti-emetics </li>
                                    <li> H2 receptor blockers</li>
                                    <li>Anti-spasmodics </li>
                                    <li> loperamide</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-six" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-six">
                        Herbal preparations
                    </a>
                    <div class="card collapse" id="drugs-collapse-six" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Atropa Belladonna Extract </li>
                                    <li> Jimson weed</li>
                                    <li> St. John’s wort </li>
                                    <li> Henbane</li>
                                    <li>Mandrake </li>
                                    <li> Valerian</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-seven" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-seven">
                        Other CNS active agents
                    </a>
                    <div class="card collapse" id="drugs-collapse-seven" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Disulfiram </li>
                                    <li> Cholinesterase inhibitor (Donepezil)</li>
                                    <li>Lithium </li>
                                    <li> Phenothizaines </li>
                                    <li> Interleukin-2</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-eight" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-eight">
                        Hypnotics and sedatives
                    </a>
                    <div class="card collapse" id="drugs-collapse-eight" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Barbiturates</li>
                                    <li>Benzodiazepines</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-nine" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-nine">
                        Muscle Relaxants
                    </a>
                    <div class="card collapse" id="drugs-collapse-nine" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Baclofen</li>
                                    <li>Cyclobenzaprine</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-ten" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-ten">
                        Anticholinergics
                    </a>
                    <div class="card collapse" id="drugs-collapse-ten" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Atropine </li>
                                    <li> Diphenhydramine </li>
                                    <li> Scopolamine</li>
                                    <li>Benztropine </li>
                                    <li> trihexyphenidyl</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-eleven" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-eleven">
                        Anti-convulsants
                    </a>
                    <div class="card collapse" id="drugs-collapse-eleven" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Carbamazepine </li>
                                    <li> phenytoin </li>
                                    <li> vigabatrin</li>
                                    <li>Levetiracetam </li>
                                    <li> Valproate</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#drugs-collapse-twelve" role="button" aria-expanded="false"
                        aria-controls="drugs-collapse-twelve">
                        Anti-depressants
                    </a>
                    <div class="card collapse" id="drugs-collapse-twelve" data-parent="#drugs">
                        <div class="card-content">
                            <div class="card-body">
                                <ul>
                                    <li>Mirtozopine </li>
                                    <li> SSRI </li>
                                    <li> TCA</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>