<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="/precipitatingfactors.html">Precipitating factors</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delirium</li>
        </ol>
    </nav>

    <div class="mainContent">
        <h4>Precipitating factors for delirium</h4>

        <div class="sun-custom-list">
            <ul>
                <li>
                    Age &gt; 75
                </li>
                <li>Baseline cognitive dysfunction including a lower education
                    level
                </li>
                <li>Male sex
                </li>
                <li>Vision or hearing impairment
                </li>
                <li>Decreased functional ability
                </li>
                <li>Use of IV lines, bladder catheters, or physical restraints
                </li>
                <li>Severe medical illness: Infections, hip fractures,
                    hyperthermia, hypothermia, hypotension, hypo-perfusion,
                    hypoxia or anoxia, malnutrition and nutritional deficiencies,
                    metabolic disorders, and more
                </li>
                <li>Exogenous substances: Medication*, poly-pharmacy,
                    psychoactive medications(including over-the-counter
                    medications), addition of three or more medications
                </li>
                <li>Substance abuse and withdrawal
                </li>
                <li>Heavy metal poisoning
                </li>
                <li>Toxins
                </li>
                <li>Sleep deprivation
                </li>
                <li>Poorly managed pain
                </li>
                <li>Over sedation
                </li>
                <li>Environment
                </li>
                <li>Emotional distress
                </li>
            </ul>
        </div>
    </div>

</div>