<link rel="stylesheet" href="css/cards.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Delirium</li>
            <li class="breadcrumb-item active" aria-current="page">Management</li>
        </ol>
    </nav>


    <div class="mainContent">

        <ul class="nav nav-tabs" id="mainTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="hypo-active-tab" data-toggle="tab" href="#hypo-active" role="tab"
                    aria-controls="hypo-active" aria-selected="true">hypo-active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="hyper-active-tab" data-toggle="tab" href="#hyper-active" role="tab"
                    aria-controls="hyper-active" aria-selected="false">hyper-active</a>
            </li>
        </ul>
        <div class="tab-content" id="mainTabContent">
            <div class="tab-pane fade show active mainContent" id="hypo-active" role="tabpanel"
                aria-labelledby="hypo-active-tab">
                <div id="hypo-active-delirium">
                    <div class="card">

                        <a class="collapsed" data-toggle="collapse" href="#hypo-active-deliriumCollapseOne"
                            role="button" aria-expanded="false" aria-controls="hypo-active-deliriumCollapseOne">
                            <div class="card-header" id="hypo-active-deliriumheadingOne">
                                <h1 class="card-heading">
                                    Treat the cause
                                </h1>
                            </div>
                        </a>
                        <div id="hypo-active-deliriumCollapseOne" class="collapse"
                            aria-labelledby="hypo-active-deliriumheadingOne" data-parent="#hypo-active-delirium">
                            <div class="card-body">
                                <ul>
                                    <li>Metabolic encephalopathy (electrolyte disturbance)
                                    </li>
                                    <li> Uremia
                                    </li>
                                    <li> Hepatic/renal impairment
                                    </li>
                                    <li> dehydration
                                    </li>
                                    <li> substance intoxication (Digoxin and lithium at therapeutic doses) or withdrawal
                                        (alcohol_drugs)
                                    </li>
                                    <li> Another drug(benzodiazepines_narcotics in high doses_ antiparkinsonian agents(
                                        trihexyphenidyl_benzotropine)
                                    </li>
                                    <li> Antihistaminic first generation
                                    </li>
                                    <li> Antispasmodics
                                    </li>
                                    <li> Antinauseants(scoplamine)
                                    </li>
                                    <li> Antibiotics (fluoroquinolone)
                                    </li>
                                    <li> TCA _lithium_skeletal muscle relaxants _digitalis_antiarryhthmics
                                    </li>
                                    <li> Another Medical conditions (stroke_heart attack_lung,liver disease_low ca,Na
                                        level_severe terminal illness</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="collapsed" data-toggle="collapse" href="#hypo-active-deliriumCollapseTwo"
                            role="button" aria-expanded="false" aria-controls="hypo-active-deliriumCollapseTwo">
                            <div class="card-header" id="hypo-active-deliriumheadingTwo">
                                <h1 class="card-heading">Non pharmacological treatment</h1>
                            </div>
                        </a>
                        <div id="hypo-active-deliriumCollapseTwo" class="collapse"
                            aria-labelledby="hypo-active-deliriumheadingTwo" data-parent="#hypo-active-delirium">
                            <div class="card-body">
                                <ul>
                                    <li>Maintain hydration
                                    </li>
                                    <li> Reduce noise
                                    </li>
                                    <li> Orienting stimuli of time and place
                                    </li>
                                    <li> Manage pain
                                    </li>
                                    <li> Frequent reassurance
                                    </li>
                                    <li> Touch and verbal orientation
                                    </li>
                                    <li> Family members and familiar persons visits
                                    </li>
                                    <li> Discharge from icu as soon as possible</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="hyper-active" role="tabpanel" aria-labelledby="hyper-active-tab">

                <div class="mainContent">
                    <ul class="nav nav-tabs" id="hyperTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="typical-antipsychotis-tab" data-toggle="tab"
                                href="#typical-antipsychotis" role="tab" aria-controls="typical-antipsychotis"
                                aria-selected="true">Typical antipsychotics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="atypical-antipsychotics-tab" data-toggle="tab"
                                href="#atypical-antipsychotics" role="tab" aria-controls="atypical-antipsychotics"
                                aria-selected="false">Atypical antipsychotics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="dexmedetomidine-tab" data-toggle="tab" href="#dexmedetomidine"
                                role="tab" aria-controls="dexmedetomidine" aria-selected="false">Dexmedetomidine</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="hyperTabContent">
                        <div class="tab-pane fade show active" id="typical-antipsychotis" role="tabpanel"
                            aria-labelledby="typical-antipsychotis-tab">
                            <div class="mainContent">
                                <h2>Haloperidol <mark>(First option)</mark></h2>

                                <div id="haloperidol">
                                    <div class="card">

                                        <a class="collapsed" data-toggle="collapse" href="#haloperidolCollapseOne"
                                            role="button" aria-expanded="false" aria-controls="haloperidolCollapseOne">
                                            <div class="card-header" id="haloperidolheadingOne">
                                                <h1 class="card-heading">
                                                    Dose
                                                </h1>
                                            </div>
                                        </a>
                                        <div id="haloperidolCollapseOne" class="collapse"
                                            aria-labelledby="haloperidolheadingOne" data-parent="#haloperidol">
                                            <div class="card-body">
                                                <h4>Oral and IM dose in adult :</h4>
                                                <ul>
                                                    <li> mild agitation—> single dose 0.5 to 2 mg repeat doses should be
                                                        based on clinical response
                                                    </li>
                                                    <li> Moderate agitation: single doses 5 to 10 mg
                                                    </li>
                                                    <li> Severe cases: single doses 10 mg or more</li>
                                                </ul>

                                                <h4>IV dose (most common)</h4>
                                                Begin with 2 mg followed by repeated doses every 15 to 20 min while
                                                agitation persists.
                                                <br>Once delirium is controlled may repeat a dose every 4
                                                to 6 hrs for a few days as needed with tapering doses over several days.
                                                <br><br>
                                                <h4>Special population</h4>
                                                Hepatic patients &rarr; no adjustments <br> Renal patients &rarr; no
                                                adjustments
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <a class="collapsed" data-toggle="collapse" href="#haloperidolCollapseTwo"
                                            role="button" aria-expanded="false" aria-controls="haloperidolCollapseTwo">
                                            <div class="card-header" id="haloperidolheadingTwo">
                                                <h1 class="card-heading">Contraindications</h1>
                                            </div>
                                        </a>
                                        <div id="haloperidolCollapseTwo" class="collapse"
                                            aria-labelledby="haloperidolheadingTwo" data-parent="#haloperidol">
                                            <div class="card-body">
                                                <ul>
                                                    <li> Elderly patients with dementia
                                                    </li>
                                                    <li> Comatose patients
                                                    </li>
                                                    <li> Parkison disease patients
                                                    </li>
                                                    <li> Hypersensitivity
                                                    </li>
                                                    <li> Severe CNS depression
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <a class="collapsed" data-toggle="collapse" href="#haloperidolCollapseThree"
                                            aria-expanded="false" aria-controls="haloperidolCollapseThree">
                                            <div class="card-header" id="haloperidolheadingThree">
                                                <h1 class="card-heading">Adverse effects</h1>
                                            </div>
                                        </a>
                                        <div id="haloperidolCollapseThree" class="collapse"
                                            aria-labelledby="haloperidolheadingThree" data-parent="#haloperidol">
                                            <div class="card-body">
                                                <ul>
                                                    <li> QT interval prolongation &rarr; monitor
                                                    </li>
                                                    <li> Hyponatremia
                                                    </li>
                                                    <li> Paralytic ileus
                                                    </li>
                                                    <li> Agranulocytosis
                                                    </li>
                                                    <li> Seizures ,dystonia,neuroleptic malignant syndrome
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <a class="collapsed" data-toggle="collapse" href="#haloperidolCollapseFive"
                                            role="button" aria-expanded="false" aria-controls="haloperidolCollapseFive">
                                            <div class="card-header" id="haloperidolheadingFive">
                                                <h1 class="card-heading">Caution</h1>
                                            </div>
                                        </a>
                                        <div id="haloperidolCollapseFive" class="collapse"
                                            aria-labelledby="haloperidolheadingFive" data-parent="#haloperidol">
                                            <div class="card-body">
                                                haloperidol therapy should be tapered off over several days
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade mainContent" id="atypical-antipsychotics" role="tabpanel"
                            aria-labelledby="atypical-antipsychotics-tab">
                            <ul class="nav nav-pills mb-3" id="atypical-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="atypical-olanzapine-tab" data-toggle="pill"
                                        href="#atypical-olanzapine" role="tab" aria-controls="atypical-olanzapine"
                                        aria-selected="true">Olanzapine</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="atypical-quetiapine-tab" data-toggle="pill"
                                        href="#atypical-quetiapine" role="tab" aria-controls="atypical-quetiapine"
                                        aria-selected="false">Quetiapine</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="atypical-risperidone-tab" data-toggle="pill"
                                        href="#atypical-risperidone" role="tab" aria-controls="atypical-risperidone"
                                        aria-selected="false">Risperidone</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="atypical-tabContent">
                                <div class="tab-pane fade show active" id="atypical-olanzapine" role="tabpanel"
                                    aria-labelledby="atypical-olanzapine-tab">

                                    <div id="olanzapine">
                                        <div class="card">

                                            <a class="collapsed" data-toggle="collapse" href="#olanzapineCollapseOne"
                                                role="button" aria-expanded="false"
                                                aria-controls="olanzapineCollapseOne">
                                                <div class="card-header" id="olanzapineheadingOne">
                                                    <h1 class="card-heading">
                                                        Dose
                                                    </h1>
                                                </div>
                                            </a>
                                            <div id="olanzapineCollapseOne" class="collapse"
                                                aria-labelledby="olanzapineheadingOne" data-parent="#olanzapine">
                                                <div class="card-body">
                                                    <ul>
                                                        <li> ICU (off-label use): Oral or via NG tube: Initial: 5 to 10
                                                            mg once daily (or 2.5 mg once daily in patients >60 years of
                                                            age); titrate daily as needed in 2.5 to 5 mg increments up
                                                            to 20 mg/day
                                                        </li>
                                                        <li> Non-ICU (off-label use): Oral: Initial: 1.25 to 5 mg once
                                                            daily or as needed; titrate daily based on symptoms in 2.5
                                                            to 5 mg increments up to 20 mg/day
                                                        </li>
                                                    </ul>

                                                    <h4>Special population</h4>
                                                    Renal patients: no dose adjustment (not dialysable) <br>
                                                    Hepatic patients: no adjustment needed just intial dose
                                                    should be limited to 2.5 to 5 mg daily Use with caution in cases of
                                                    hepatitis and liver injuries
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#olanzapineCollapseTwo"
                                                role="button" aria-expanded="false"
                                                aria-controls="olanzapineCollapseTwo">
                                                <div class="card-header" id="olanzapineheadingTwo">
                                                    <h1 class="card-heading">Contraindications</h1>
                                                </div>
                                            </a>
                                            <div id="olanzapineCollapseTwo" class="collapse"
                                                aria-labelledby="olanzapineheadingTwo" data-parent="#olanzapine">
                                                <div class="card-body">
                                                    elderly patients with dementia
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#olanzapineCollapseThree"
                                                aria-expanded="false" aria-controls="olanzapineCollapseThree">
                                                <div class="card-header" id="olanzapineheadingThree">
                                                    <h1 class="card-heading">Adverse effects</h1>
                                                </div>
                                            </a>
                                            <div id="olanzapineCollapseThree" class="collapse"
                                                aria-labelledby="olanzapineheadingThree" data-parent="#olanzapine">
                                                <div class="card-body">
                                                    common &rarr; orthostatic hypotension, edema, hypercholesterolemia,
                                                    hyperglycemia, akathisia, tremor Serious &rarr; cardiac death,
                                                    diabetes mellitus,acute hemorrhagic
                                                    pancreatitis,leukopenia,pulmonary embolism
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#olanzapineCollapseFive"
                                                role="button" aria-expanded="false"
                                                aria-controls="olanzapineCollapseFive">
                                                <div class="card-header" id="olanzapineheadingFive">
                                                    <h1 class="card-heading">Caution</h1>
                                                </div>
                                            </a>
                                            <div id="olanzapineCollapseFive" class="collapse"
                                                aria-labelledby="olanzapineheadingFive" data-parent="#olanzapine">
                                                <div class="card-body">
                                                    Discontinuation of therapy: Gradual dose reduction is advised to
                                                    avoid withdrawal symptoms (ie, insomnia, headache, GI symptoms)
                                                    unless discontinuation is due to significant adverse effects. In
                                                    general, when discontinuing antipsychotic therapy for a chronic
                                                    psychiatric disorder (eg, schizophrenia, bipolar disorder),
                                                    decreasing the dose gradually over weeks to months (eg, reducing the
                                                    dose by 10% per month) with close monitoring is suggested to allow
                                                    for detection of prodromal symptoms of disease recurrence
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="atypical-quetiapine" role="tabpanel"
                                    aria-labelledby="atypical-quetiapine-tab">
                                    <div id="quetiapine">
                                        <div class="card">

                                            <a class="collapsed" data-toggle="collapse" href="#quetiapineCollapseOne"
                                                role="button" aria-expanded="false"
                                                aria-controls="quetiapineCollapseOne">
                                                <div class="card-header" id="quetiapineheadingOne">
                                                    <h1 class="card-heading">
                                                        Dose
                                                    </h1>
                                                </div>
                                            </a>
                                            <div id="quetiapineCollapseOne" class="collapse"
                                                aria-labelledby="quetiapineheadingOne" data-parent="#quetiapine">
                                                <div class="card-body">
                                                    Immediate release oral or via NG tube :intially 50 mg twice daily
                                                    may increase daily as necessary in 100mg/day (max dose 400 mg /day)
                                                    In patient who may be sensitive to adverse effects start with 12.5
                                                    mg/12hrs Or 25 to 50 mg at bed time and increase dose
                                                    more gradually (in increments of 25mg/day) based on response and
                                                    tolerability <br><br>
                                                    <h4>Special population</h4>
                                                    Hepatic patients:<br>
                                                    <ul>
                                                        <li>
                                                            for regular release tablets:intial dose 25mg/day increase
                                                            dose daily in increments of 25 to 50 mg/day to the effective
                                                            dose based on response and tolerability
                                                        </li>
                                                        <li>
                                                            For extended release tablets: intiate with 50mg/day increase
                                                            in increments of 50 mg/day depending on patient response and
                                                            tolerability
                                                        </li>
                                                    </ul>
                                                    Renal patients : no dose adjustment
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#quetiapineCollapseTwo"
                                                role="button" aria-expanded="false"
                                                aria-controls="quetiapineCollapseTwo">
                                                <div class="card-header" id="quetiapineheadingTwo">
                                                    <h1 class="card-heading">Contraindications</h1>
                                                </div>
                                            </a>
                                            <div id="quetiapineCollapseTwo" class="collapse"
                                                aria-labelledby="quetiapineheadingTwo" data-parent="#quetiapine">
                                                <div class="card-body">
                                                    <ul>
                                                        <li>Elderly patients with dementia
                                                        </li>
                                                        <li> Patients with history of congestive heart faliure or
                                                            cardiac hypertrophy or cardiac arrhythmia
                                                        </li>
                                                        <li> Patient with congenital long QT syndrome
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#quetiapineCollapseThree"
                                                aria-expanded="false" aria-controls="quetiapineCollapseThree">
                                                <div class="card-header" id="quetiapineheadingThree">
                                                    <h1 class="card-heading">Adverse effects</h1>
                                                </div>
                                            </a>
                                            <div id="quetiapineCollapseThree" class="collapse"
                                                aria-labelledby="quetiapineheadingThree" data-parent="#quetiapine">
                                                <div class="card-body">
                                                    <ul>
                                                        <li>CVS: prolong QT interval ,increase diastolic or systolic
                                                            arterial pressure ,orthostatic hypotension
                                                        </li>
                                                        <li> Increase serum cholesterol, TG
                                                        </li>
                                                        <li> Wt gain
                                                        </li>
                                                        <li> Abdominal pain
                                                        </li>
                                                        <li> Increase liver enzymes
                                                        </li>
                                                        <li> Diabetic keto acidosis
                                                        </li>
                                                        <li> Extra pyramidal disease,asthenia,dizziness
                                                        </li>
                                                        <li> Tremors, agitation</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="atypical-risperidone" role="tabpanel"
                                    aria-labelledby="atypical-risperidone-tab">
                                    <div id="risperidone">
                                        <h2>Risperidone <mark>(off-label use)</mark></h2>
                                        <div class="card">

                                            <a class="collapsed" data-toggle="collapse" href="#risperidoneCollapseOne"
                                                role="button" aria-expanded="false"
                                                aria-controls="risperidoneCollapseOne">
                                                <div class="card-header" id="risperidoneheadingOne">
                                                    <h1 class="card-heading">
                                                        Dose
                                                    </h1>
                                                </div>
                                            </a>
                                            <div id="risperidoneCollapseOne" class="collapse"
                                                aria-labelledby="risperidoneheadingOne" data-parent="#risperidone">
                                                <div class="card-body">
                                                    0.5 mg twice daily (in patients severely agitated), in Milder cases
                                                    taken per need. (PRN)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#risperidoneCollapseTwo"
                                                role="button" aria-expanded="false"
                                                aria-controls="risperidoneCollapseTwo">
                                                <div class="card-header" id="risperidoneheadingTwo">
                                                    <h1 class="card-heading">Contraindications</h1>
                                                </div>
                                            </a>
                                            <div id="risperidoneCollapseTwo" class="collapse"
                                                aria-labelledby="risperidoneheadingTwo" data-parent="#risperidone">
                                                <div class="card-body">
                                                    Hypersensitivity to risperiDONE, paliperidone (an active metabolite
                                                    of risperiDONE), or any component of the product.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#risperidoneCollapseThree"
                                                aria-expanded="false" aria-controls="risperidoneCollapseThree">
                                                <div class="card-header" id="risperidoneheadingThree">
                                                    <h1 class="card-heading">Adverse effects</h1>
                                                </div>
                                            </a>
                                            <div id="risperidoneCollapseThree" class="collapse"
                                                aria-labelledby="risperidoneheadingThree" data-parent="#risperidone">
                                                <div class="card-body">
                                                    <ul>
                                                        <li>Dermatologic: Rash
                                                        </li>
                                                        <li> Endocrine metabolic: Hyperprolactinemia
                                                        </li>
                                                        <li> Gastrointestinal: Constipation
                                                        </li>
                                                        <li> Neurologic: Akathisia
                                                        </li>
                                                        <li> Ophthalmic: Blurred vision
                                                        </li>
                                                        <li> Cardiovascular: Prolonged QT interval, Sudden cardiac
                                                            death, Syncope
                                                        </li>
                                                        <li> Endocrine metabolic: Diabetic ketoacidosis, Hypothermia
                                                        </li>
                                                        <li> Hematologic: Agranulocytosis, Leukopenia, Neutropenia,
                                                            Thrombocytopenia, Thrombotic thrombocytopenic purpura
                                                        </li>
                                                        <li> Neurologic: Cerebrovascular accident, Seizure</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a class="collapsed" data-toggle="collapse" href="#risperidoneCollapseFour"
                                                role="button" aria-expanded="false"
                                                aria-controls="risperidoneCollapseFour">
                                                <div class="card-header" id="risperidoneheadingFour">
                                                    <h1 class="card-heading">Precaution</h1>
                                                </div>
                                            </a>
                                            <div id="risperidoneCollapseFour" class="collapse"
                                                aria-labelledby="risperidoneheadingFour" data-parent="#risperidone">
                                                <div class="card-body">
                                                    <div class="instruction">
                                                        <div class="instruction-section">
                                                            <h5>Warning</h5>
                                                            <div class="instruction-inner-section">
                                                                Increased Mortality in Elderly Patients with
                                                                Dementia-Related Psychosis Elderly patients with
                                                                dementia-related psychosis treated with antipsychotic
                                                                drugs are at an increased risk of death. RisperiDONE is
                                                                not approved for the treatment of patients with
                                                                dementia-related psychosis and has not been studied in
                                                                this population.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul>
                                                        <li>Beers Criteria: Avoid use for behavioral problems of
                                                            dementia and delirium (unless non-pharmacological measure
                                                            fails and the patient is a threat to self or others) due to
                                                            increased risk for cerebrovascular
                                                            accident and mortality.
                                                        </li>
                                                        <li> Avoid use in patients with Parkinson disease, a history of
                                                            falls, fractures, or cognitive impairment as ataxia,
                                                            syncope, impaired psychomotor performance, and adverse CNS
                                                            effects may occur.
                                                        </li>
                                                        <li> Avoid concomitant use of 3 or more CNS-active agents in any
                                                            combination due to increased risk of falls. If prescribed,
                                                            use with caution in elderly as SIADH or hyponatremia may be
                                                            exacerbated
                                                            or may occur; monitoring recommended when starting or
                                                            changing doses. May be required to treat concurrent
                                                            schizophrenia, bipolar disorder, and other selected mental
                                                            health conditions but
                                                            should be prescribed in the lowest effective dose and
                                                            shortest possible duration.
                                                        </li>
                                                        <li> Access: While co-administration between medication-assisted
                                                            treatment (MAT) drugs (eg, methadone and buprenorphine) and
                                                            benzodiazepines or other CNS depressants (including alcohol)
                                                            may increase
                                                            the possibility of harm, including overdose and death,
                                                            concomitant therapy with MAT may be appropriate in some
                                                            patients; if concomitant use is necessary, careful
                                                            management and monitoring
                                                            recommended.
                                                        </li>
                                                        <li> Cardiovascular: Use caution in patients with cardiovascular
                                                            or cerebrovascular disease or conditions that predispose to
                                                            hypotension, including dehydration, hypovolemia, and
                                                            antihypertensive medications
                                                            because of increased risk of orthostatic hypotension;
                                                            monitoring recommended in these patients
                                                        </li>
                                                        <li> Endocrine and metabolic: Patients with diabetes mellitus or
                                                            risk factors for diabetes mellitus, including obesity and
                                                            family history, are at increased risk of worsening of
                                                            glucose control or
                                                            severe hyperglycemia; monitoring recommended.
                                                        </li>
                                                        <li> Endocrine and metabolic: Hyperglycemia, with some extreme
                                                            cases associated with ketoacidosis, hyperosmolar coma, or
                                                            death, has been reported with atypical antipsychotic use;
                                                            monitoring recommended.
                                                        </li>
                                                        <li> Endocrine and metabolic: Hyperprolactinemia may occur and
                                                            may result in galactorrhea, amenorrhea, and gynecomastia,
                                                            and patients with longstanding hyperprolactinemia may
                                                            experience impotence,
                                                            hypogonadism, and decreased bone density; incidence of
                                                            hyperprolactinemia appears to be higher with risperiDONE
                                                            relative to other antipsychotic agents.
                                                        </li>
                                                        <li> Endocrine and metabolic: Dyslipidemia and weight gain,
                                                            which may increase cardiovascular or cerebrovascular risk,
                                                            have been reported.
                                                        </li>
                                                        <li> Endocrine and metabolic: Use caution in patients with
                                                            conditions that may contribute to elevated body temperature
                                                            since disruption of body temperature regulation has been
                                                            reported with antipsychotic
                                                            agents.
                                                        </li>
                                                        <li> Endocrine and metabolic: Hyperthermia and hypothermia have
                                                            been reported; use caution in patients who will be exposed
                                                            to temperature extremes
                                                        </li>
                                                        <li> Falls: Falls that may lead to fracture or other injuries
                                                            may occur as a result of somnolence, postural hypotension,
                                                            or motor or sensory instability. Assessment of risk of a
                                                            fall recommended.
                                                        </li>
                                                        <li> Gastrointestinal: Esophageal dysmotility resulting in
                                                            aspiration may occur; use cautiously in patients at risk for
                                                            aspiration pneumonia.
                                                        </li>
                                                        <li> Hematologic: Agranulocytosis, leukopenia, and neutropenia
                                                            have been reported, especially with preexisting low WBC and
                                                            history of drug-induced leukopenia or neutropenia;
                                                            monitoring recommended
                                                            and discontinue if significant WBC decline with no other
                                                            causative factors or if patient has severe neutropenia (ie,
                                                            absolute neutrophil count less than 1000/mm(3)).
                                                        </li>
                                                        <li> Hepatic: Use caution in patients with hepatic impairment
                                                            since increase in the free fraction of risperiDONE reported
                                                            with severe impairment; dosage adjustment recommended.
                                                        </li>
                                                        <li> Hepatic: Patients with hepatic impairment at an increased
                                                            risk of orthostatic hypotension; monitoring recommended
                                                        </li>
                                                        <li> Musculoskeletal: Potentially irreversible tardive
                                                            dyskinesia may occur and risk increases with increased
                                                            duration of therapy or higher total cumulative dose;
                                                            discontinue if appropriate.
                                                        </li>
                                                        <li> Neurologic: Neuroleptic malignant syndrome has been
                                                            reported in association with antipsychotic drugs;
                                                            immediately discontinue if suspected.
                                                        </li>
                                                        <li> Neurologic: Patients with Parkinson disease or dementia
                                                            with Lewy bodies are at increased sensitivity to
                                                            antipsychotic medications.
                                                        </li>
                                                        <li> Neurologic: Use caution in patients with history of seizure
                                                            disorder or conditions that lower seizure threshold.
                                                        </li>
                                                        <li> Renal: Use caution in patients with renal impairment since
                                                            increased plasma concentrations reported with severe
                                                            impairment (CrCl less than 30 mL/min/1.73 m(2)); dosage
                                                            adjustment recommended.
                                                        </li>
                                                        <li> Renal: Patients with renal impairment at an increased risk
                                                            of orthostatic hypotension; monitoring recommended
                                                        </li>
                                                        <li> Reproductive: Priapism has been reported and severe cases
                                                            may require surgical intervention.
                                                        </li>
                                                        <li> Special populations: Use caution in patients with
                                                            phenylketonuria as oral disintegrating tablet contains
                                                            phenylalanine, a component of aspartame.
                                                        </li>
                                                        <li> Special populations: Elderly patients, especially elderly
                                                            women, are at increased risk of tardive dyskinesia.
                                                        </li>
                                                        <li> Special populations: Elderly patients are at increased risk
                                                            of orthostatic hypotension, especially during the initial
                                                            dose-titration period with oral administration; monitoring
                                                            recommended.
                                                        </li>
                                                        <li> Special populations: Cerebrovascular adverse events (eg,
                                                            stroke, transient ischemic attack) including fatalities have
                                                            been reported with oral risperiDONE in elderly patients with
                                                            dementia-related
                                                            psychosis (unapproved use)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mainContent" id="dexmedetomidine" role="tabpanel"
                            aria-labelledby="dexmedetomidine-tab">
                            <h2>Dexmedetomidine <mark>(in mechanically ventilated patients)</mark></h2>
                            <div id="dexmedetomidine">
                                <div class="card">

                                    <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseOne"
                                        role="button" aria-expanded="false" aria-controls="dexmedetomidineCollapseOne">
                                        <div class="card-header" id="dexmedetomidineheadingOne">
                                            <h1 class="card-heading">
                                                Dose
                                            </h1>
                                        </div>
                                    </a>
                                    <div id="dexmedetomidineCollapseOne" class="collapse"
                                        aria-labelledby="dexmedetomidineheadingOne" data-parent="#dexmedetomidine">
                                        <div class="card-body">
                                            Intial loading dose: 1mcq/kg iv infusion over 10 min Maintenance dose :0.2
                                            to 0.7 mcq/kg/hr iv infusion Adjust the infusion rate to achieve the desired
                                            effect <br><br>

                                            <h4>Special populations</h4>
                                            Renal patients: no dose adjustment <br>
                                            Hepatic patients: no specific dosage adjustment provided in
                                            manufacture labeling but consider dose reduction

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseTwo"
                                        role="button" aria-expanded="false" aria-controls="dexmedetomidineCollapseTwo">
                                        <div class="card-header" id="dexmedetomidineheadingTwo">
                                            <h1 class="card-heading">Caution</h1>
                                        </div>
                                    </a>
                                    <div id="dexmedetomidineCollapseTwo" class="collapse"
                                        aria-labelledby="dexmedetomidineheadingTwo" data-parent="#dexmedetomidine">
                                        <div class="card-body">
                                            Loading dose may cause hypertension in some patients, if that occurs,
                                            loading dose is advised to be skipped.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseThree"
                                        aria-expanded="false" aria-controls="dexmedetomidineCollapseThree">
                                        <div class="card-header" id="dexmedetomidineheadingThree">
                                            <h1 class="card-heading">Adverse effects</h1>
                                        </div>
                                    </a>
                                    <div id="dexmedetomidineCollapseThree" class="collapse"
                                        aria-labelledby="dexmedetomidineheadingThree" data-parent="#dexmedetomidine">
                                        <div class="card-body">
                                            Common: hypertension, nausea, vomiting, anemia, fever.<br> Serious: atrial
                                            fibrillation, hypotension, Brady-arrhythmia, sinus arrest, transient
                                            hypertension, acidosis, hypoxia, respiratory depression
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="collapsed" data-toggle="collapse" href="#dexmedetomidineCollapseFour"
                                        role="button" aria-expanded="false" aria-controls="dexmedetomidineCollapseFour">
                                        <div class="card-header" id="dexmedetomidineheadingFour">
                                            <h1 class="card-heading">Precaution</h1>
                                        </div>
                                    </a>
                                    <div id="dexmedetomidineCollapseFour" class="collapse"
                                        aria-labelledby="dexmedetomidineheadingFour" data-parent="#dexmedetomidine">
                                        <div class="card-body">
                                            <b>Cardiovascular:</b> Sinus arrest, including fatal cases, have been
                                            reported.Bradycardia and hypotension, including fatal cases, have been
                                            reported and are more pronounced in the elderly and patients with
                                            hypovolemia, diabetes mellitus, or chronic hypertension; dosage
                                            reduction or interruption may be necessary. Use caution with advanced
                                            heart block or severe ventricular dysfunction. Transient hypertension
                                            has been reported, primarily during the loading dose; reduced loading
                                            infusion rate may be necessary.<br>
                                            <b>Hepatic:</b> Hepatic impairment; dosage adjustment may be necessary.<br>
                                            <b>Neurologic:</b> Arousability and alertness when stimulated
                                            have been reported and should not be interpreted as a lack of efficacy
                                            in the absence of other clinical signs and symptoms.<br>
                                            <b>Prolonged use:</b> Tolerance, tachyphylaxis, and dose-related
                                            increases in adverse events have been reported with use beyond 24
                                            hours.<br> Withdrawal: Withdrawal symptoms (eg, nausea, vomiting,
                                            agitation,
                                            hypertension, tachycardia) have been reported within 48 hours after
                                            discontinuation.<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>