<link rel="stylesheet" href="/css/caution.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Delirium</li>
            <li class="breadcrumb-item active" aria-current="page">Cautions</li>
        </ol>
    </nav>


    <div class="mainContent">
        <div class="container">
            <div class="row">
                <div class="holder checklist-holder">
                    <table width="100%">
                        <tr>
                            <td>
                                Select the medical condition of your patient
                            </td>
                            <td>
                                <img src="/img/icons8-checklist-64.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>Elderly patient with Dementia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check1" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Parkinson disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check2" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>History of falls / fractures</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check3" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Cognitive impairment (Ataxia)</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check4" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Advanced heart block</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check5" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Congestive heart failure</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check6" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Cardiac arrhythmia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check7" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>congenital long QT syndrome</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check8" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Hepatic disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check9" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Renal disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check10" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Diabetes mellitus</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check11" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Patient at risk for aspiration pneumonia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check12" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Preexisting low WBCS /History of drug induced leukopenia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check13" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Seizures disorder</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check14" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Comatose patients</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check15" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Severe toxic CNS depends</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check16" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>paralytic ileus patient</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check17" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patients with hyponatremia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check18" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patient with agranulocytosis</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check19" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patient with respiratory depression</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check20" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patients with hypotension</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check21" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patients with cerebrovascular disease eg: stroke, transient
                                ischemic attack</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check22" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patients with phenylketonuria</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="delirium-caution-check23" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div style="text-align: right;">
                        <input id="delirium-caution-checklist-submit" type="submit" value="submit">
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="holder">
                    <div id="delirium-caution-result">
                        Click on submit button to see the required instructions
                    </div>
                </div>
            </div>
        </div>


    </div>





</div>