<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Delirium</li>
            <li class="breadcrumb-item active" aria-current="page">Drugs cause delirium</li>
        </ol>
    </nav>

    <div class="mainContent">
        <h2>Drugs believed to cause or prolong delirium</h2>
        <br>
        <div id="drugs">
            <div class="card">
                <div class="card-header" id="drugs-heading-one">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#drugs-collapse-one"
                            aria-expanded="true" aria-controls="drugs-collapse-one">
                            Analgesics
                        </button>
                    </h5>
                </div>

                <div id="drugs-collapse-one" class="collapse" aria-labelledby="drugs-heading-one" data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>NSAIDS</li>
                            <li>Opoids (especially, Meperidine)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-two">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drugs-collapse-two"
                            aria-expanded="false" aria-controls="drugs-collapse-two">
                            CVS and Hypertension drugs
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-two" class="collapse" aria-labelledby="drugs-heading-two" data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Anti-arrhytmics </li>
                            <li> Beta Blockers </li>
                            <li> clonidine</li>
                            <li>Clonidine </li>
                            <li> Diuretics </li>
                            <li> Methyldopa </li>
                            <li> Digoxin</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-three">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#drugs-collapse-three" aria-expanded="false"
                            aria-controls="drugs-collapse-three">
                            Dopamine Agonists
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-three" class="collapse" aria-labelledby="drugs-heading-three"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li> Amantatine </li>
                            <li> Levodopa </li>
                            <li> Pergolide</li>
                            <li> Bromocriptine </li>
                            <li> Ropinirole </li>
                            <li> Pramipexol</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-four">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drugs-collapse-four"
                            aria-expanded="false" aria-controls="drugs-collapse-four">
                            Antibiotics and Antivirals
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-four" class="collapse" aria-labelledby="drugs-heading-four"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Acyclovir </li>
                            <li> Amphotericin </li>
                            <li> cephalosporins </li>
                            <li> Fluoroquinolone </li>
                            <li>Interferon </li>
                            <li> Macrolides </li>
                            <li> Nalidixic Acid - Rifampin </li>
                            <li>Aminoglycosides </li>
                            <li> Anti-Malarials </li>
                            <li> Cycloserine </li>
                            <li>Isoniazid </li>
                            <li> Linezolid </li>
                            <li> Metronidazole </li>
                            <li> Penicillins </li>
                            <li>Sulfanamides</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-five">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drugs-collapse-five"
                            aria-expanded="false" aria-controls="drugs-collapse-five">
                            Gastrointestinal Agents
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-five" class="collapse" aria-labelledby="drugs-heading-five"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Anti-emetics </li>
                            <li> H2 receptor blockers</li>
                            <li>Anti-spasmodics </li>
                            <li> loperamide</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-six">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drugs-collapse-six"
                            aria-expanded="false" aria-controls="drugs-collapse-six">
                            Herbal preparations
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-six" class="collapse" aria-labelledby="drugs-heading-six" data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Atropa Belladonna Extract </li>
                            <li> Jimson weed</li>
                            <li> St. John’s wort </li>
                            <li> Henbane</li>
                            <li>Mandrake </li>
                            <li> Valerian</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-seven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#drugs-collapse-seven" aria-expanded="false"
                            aria-controls="drugs-collapse-seven">
                            Other CNS active agents
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-seven" class="collapse" aria-labelledby="drugs-heading-seven"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Disulfiram </li>
                            <li> Cholinesterase inhibitor (Donepezil)</li>
                            <li>Lithium </li>
                            <li> Phenothizaines </li>
                            <li> Interleukin-2</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="drugs-heading-eight">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#drugs-collapse-eight"
                            aria-expanded="true" aria-controls="drugs-collapse-eight">
                            Hypnotics and sedatives
                        </button>
                    </h5>
                </div>

                <div id="drugs-collapse-eight" class="collapse" aria-labelledby="drugs-heading-eight"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Barbiturates</li>
                            <li>Benzodiazepines</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-nine">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drugs-collapse-nine"
                            aria-expanded="false" aria-controls="drugs-collapse-nine">
                            Muscle Relaxants
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-nine" class="collapse" aria-labelledby="drugs-heading-nine"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Baclofen</li>
                            <li>Cyclobenzaprine</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-ten">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drugs-collapse-ten"
                            aria-expanded="false" aria-controls="drugs-collapse-ten">
                            Anticholinergics
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-ten" class="collapse" aria-labelledby="drugs-heading-ten" data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Atropine </li>
                            <li> Diphenhydramine </li>
                            <li> Scopolamine</li>
                            <li>Benztropine </li>
                            <li> trihexyphenidyl</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-eleven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#drugs-collapse-eleven" aria-expanded="false"
                            aria-controls="drugs-collapse-eleven">
                            Anti-convulsants
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-eleven" class="collapse" aria-labelledby="drugs-heading-eleven"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Carbamazepine </li>
                            <li> phenytoin </li>
                            <li> vigabatrin</li>
                            <li>Levetiracetam </li>
                            <li> Valproate</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-twelve">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#drugs-collapse-twelve" aria-expanded="false"
                            aria-controls="drugs-collapse-twelve">
                            Anti-depressants
                        </button>
                    </h5>
                </div>
                <div id="drugs-collapse-twelve" class="collapse" aria-labelledby="drugs-heading-twelve"
                    data-parent="#drugs">
                    <div class="card-body">
                        <ul>
                            <li>Mirtozopine </li>
                            <li> SSRI </li>
                            <li> TCA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-thirteen">
                    Corticosteroids
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="drugs-heading-fourteen">
                    Hypoglycemics
                </div>
            </div>
        </div>

        <h2>SURVEY QUESTIONS</h2>

        <div class="instruction">
            <div class="instruction-inner-section">
                <ol>
                    <li> Do you use Haloperidol as a first choice treatment for delirium? Yes or No</li>
                    <li> Do you use Benzodiazepines as a treatment for delirium? Yes or No</li>
                    <li> Do you use a prophylactic treatment for delirium or no? If so, what is it that
                        you use?.......................</li>
                    <li> What is the first choice for treatment in case of patients with QT
                        prolongation?...............</li>
                    <li> What is the treatment of choice in case of mechanically ventilated
                        patients?.......................</li>
                    <li> What drugs induce delirium that are most encountered during
                        practice?........................</li>
                </ol>
            </div>
        </div>
    </div>

</div>