<!-- Masthead -->
<header class="masthead home-title">
  <div class="container ">
    <div class="row  align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Your critical care guide for the assessment and
          management of pain, agitation and delirium</h1>
        <hr style="margin: auto;" class="divider my-3">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-3">Welcome to PADICU website,We're dedicated in giving you evidence
          based information about pain, agitation and delirieum management to the intensive care unit patients through
          focusing on scoring systems, Algorithms and Medications.
        </p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">About us</a>
      </div>
    </div>
  </div>
</header>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container" id="about">
   <div class=" text-muted">
      Founded in 2020 by students at Faculty of Pharmacy (Clinical department),
       Alexandria university under the supervision of their professors, as a graduation project.
    </div>
    <br>
    <div class=" text-muted">
      We hope our website will be advantageous to the health care providers and of a beneficial outcome as our aim is to
      improve the clinical practice inorder to create a healthier community
    </div>
  </div>
</footer>