
<link rel="stylesheet" href="/css/caution.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Pain</li>
            <li class="breadcrumb-item active" aria-current="page">Cautions</li>
        </ol>
    </nav>


    <div class="mainContent">
        <div class="container">
            <div class="row">
                <div class="holder">
                    <table width="100%">
                        <tr>
                            <td style="font-size: 30px;">
                                Select the medical condition of your patient
                            </td>
                            <td>
                                <img src="/img/icons8-checklist-64.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>Elderly</td>
                            <td>
                                <div>
                                    <input type="checkbox" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pediatric</td>
                            <td>
                                <div>
                                    <input type="checkbox" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Renal disease</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Liver disease</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Use of other NSAIDs</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Paralytic ileus</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Peptic ulcer or GIT bleeding</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Cerebrovascular bleeding , head trauma</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>High risk of bleeding , patient on warfarin</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Brain tumor</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Heart failure</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Hypertension</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Stabilized on direutics or ACEIs</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Acute or chronic asthma</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Patient take CNS depressants</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patient use benzodiazepines</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Acute or postoperative pain</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Acute alcoholism</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Thyrotoxicosis</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Hypothyroidism</td>
                            <td>
                                <div>
                                    <input type="checkbox"/>
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="See results">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>





</div>