<link rel="stylesheet" href="/css/caution.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Pain</li>
            <li class="breadcrumb-item active" aria-current="page">Cautions</li>
        </ol>
    </nav>


    <div class="mainContent">
        <div class="container">
            <div class="row">
                <div class="holder checklist-holder">
                    <table width="100%">
                        <tr>
                            <td>
                                Select the medical condition of your patient
                            </td>
                            <td>
                                <img src="/img/icons8-checklist-64.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>Elderly</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check1" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pediatric</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check2" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Renal disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check3" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Liver disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check4" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Use of other NSAIDs</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check5" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Paralytic ileus</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check6" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Peptic ulcer or GIT bleeding</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check7" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Cerebrovascular bleeding , head trauma</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check8" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>High risk of bleeding , patient on warfarin</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check9" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Brain tumor</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check10" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Heart failure</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check11" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Hypertension</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check12" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Stabilized on direutics or ACEIs</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check13" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Acute or chronic asthma</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check14" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Patient take CNS depressants</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check15" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Patient use benzodiazepines</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check16" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Acute or postoperative pain</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check17" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Acute alcoholism</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check18" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Thyrotoxicosis</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check19" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Hypothyroidism</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="pain-caution-check20" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div id="painLiverQuestion">
                        <label class="question">In case of liver disease please select condition of your
                            patient?</label>
                        <br>
                        <div class="custom-control custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="pain-liver1" name="pain-liver"
                                value="yes" checked>
                            <label class="custom-control-label" for="pain-liver1">Severe hepatic impairment</label>
                        </div>

                        <div class="custom-control custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="pain-liver2" name="pain-liver"
                                value="no">
                            <label class="custom-control-label" for="pain-liver2">Mild to moderate</label>
                        </div>
                        <br>
                    </div>

                    <div id="painRenalQuestion">

                        <label class="question">In case of renal disease please select condition of your
                            patient?</label>
                        <br>
                        <div class="custom-control custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="pain-renal1" name="pain-renal"
                                value="yes" checked>
                            <label class="custom-control-label" for="pain-renal1"> GFR &gt; 50ml/mi</label>
                        </div>

                        <div class="custom-control custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="pain-renal2" name="pain-renal"
                                value="no">
                            <label class="custom-control-label" for="pain-renal2"> GFR10-50ml/mi</label>
                        </div>

                        <div class="custom-control custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="pain-renal3" name="pain-renal"
                                value="no">
                            <label class="custom-control-label" for="pain-renal3"> GRR&lt;10ml/mi</label>
                        </div>
                        <br>
                    </div>

                    <div style="text-align: right;">
                        <input id="pain-caution-checklist-submit" type="submit" value="submit">
                    </div>


                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="holder">
                    <div class="scoring-result">
                        <h4 class="h3-sub-title">Instructions</h4>
                        <p id="pain-caution-result">
                            Click on submit button to see the required instructions
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>





</div>