<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="precipitatingfactors.html">Precipitating factors</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pain</li>
        </ol>
    </nav>

    <div class="mainContent">
        <h4>Precipitating factors for pain</h4>

        <div class="sun-custom-list">
            <ul>
                <li> injuries or illness required an ICU admission: for example,
                    trauma, surgery, sepsis
                </li>
                <li> routine medical procedures.
                </li>
                <li> surgical incisions
                </li>
                <li> drains
                </li>
                <li> endotracheal tubes
                </li>
                <li> Nursing procedures such as turning
                </li>
                <li> tracheal suctioning
                </li>
                <li> dressing changes
                </li>
                <li> nursing care
                </li>
                <li> ICU environment itself
                </li>
                <li> Acute confusional states or sleep deprivation associated with the
                    ICU environment.</li>
            </ul>
        </div>
    </div>

</div>