<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="precipitatingfactors.html">Paralytics</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recommendations</li>
        </ol>
    </nav>

    <div class="mainContent">
        <h4>RECOMMENDATIONS</h4>

        <div class="sun-custom-list">
            <ol>
                <li>Patients MUST be mechanically ventilated prior to administration of NMBAs.
                </li>
                <li>Adequate sedative and analgesic therapy MUST be provided prior to and for
                    the duration of neuromuscular blockade. ι
                </li>
                <li>Prophylactic eye care should be administered to all patients for the duration
                    of neuromuscular blockade.
                </li>
                <li> Prophylaxis against Deep Vein Thrombosis by use of anticoagulants
                </li>
                <li> If the patient has hepatic / renal dysfunction , Adminster Cisatracurium or
                    Atracurium
                </li>
                <li> If patient is contraindicated to <a data-toggle="collapse" href="#vagolytics" role="button"
                        aria-expanded="false" aria-controls="vagolytics">
                        Vagolytics drugs
                    </a>, Avoid Pancuronium
                </li>
            </ol>

            <div class="collapse" id="vagolytics">
                <b>Anticholinergic drugs that inhibit muscarinic receptors</b><br>
                For example : Atropine ,Scopalamine , Glycopyrrolate
            </div>
        </div>
    </div>

</div>