<link rel="stylesheet" href="css/cards.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Paralytics</li>
        </ol>
    </nav>


    <div class="mainContent">
        <h2>Drugs</h2>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pancuronium-tab" data-toggle="tab" href="#pancuronium" role="tab"
                    aria-controls="pancuronium" aria-selected="true">Pancuronium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="CISATRACURIUM-tab" data-toggle="tab" href="#CISATRACURIUM" role="tab"
                    aria-controls="CISATRACURIUM" aria-selected="false">CISATRACURIUM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Rocuronium-tab" data-toggle="tab" href="#Rocuronium" role="tab"
                    aria-controls="Rocuronium" aria-selected="false">Rocuronium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Succinylcholine-tab" data-toggle="tab" href="#Succinylcholine" role="tab"
                    aria-controls="Succinylcholine" aria-selected="false">Succinylcholine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Vecuronium-tab" data-toggle="tab" href="#Vecuronium" role="tab"
                    aria-controls="Vecuronium" aria-selected="false">Vecuronium (Norcuron)
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="pancuronium" role="tabpanel" aria-labelledby="pancuronium-tab">
                <div class="mainContent">
                    <div class="mainContent">
                        <ul class="nav nav-pills mb-3" id="pancuronium-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pancuronium-dosing-tab" data-toggle="pill"
                                    href="#pancuronium-dosing" role="tab" aria-controls="pancuronium-dosing"
                                    aria-selected="true">dosing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pancuronium-CONTRAINDICATIONS-PRECAUTIONS-tab"
                                    data-toggle="pill" href="#pancuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tab"
                                    aria-controls="pancuronium-CONTRAINDICATIONS-PRECAUTIONS"
                                    aria-selected="false">CONTRAINDICATIONS-PRECAUTIONS</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pancuronium-tabContent">
                            <div class="tab-pane fade show active" id="pancuronium-dosing" role="tabpanel"
                                aria-labelledby="pancuronium-dosing-tab">
                                <b>For the treatment of refractory agitation† in the intensive care unit patient.
                                    Intravenous dosage Adults </b> <br>
                                Initial doses of 0.04 to 0.1 mg/kg IV have been recommended in patients with agitation
                                not controlled
                                with large doses of neuroleptics, benzodiazepines, or morphine. Repeat doses should be
                                based on
                                clinical goals and patient response (e.g., peripheral nerve stimulation monitoring).
                                NOTE:
                                Nondepolarizing muscle relaxants cause paralysis without altering consciousness; liberal
                                doses of
                                morphine or midazolam should be used to ensure tranquility
                                MAXIMUM DOSAGE:Specific maximum dosage information is not available. Dosage must
                                be individualized based on clinical response

                                <h3>DOSING CONSIDERATIONS</h3>
                                <b>Hepatic Impairment</b>
                                Hepatic impairment may prolong the duration of action of pancuronium. Specific
                                guidelines for
                                dosage adjustments in hepatic impairment are not available; dosage reductions may be
                                necessary.
                                <b>Renal Impairment</b>
                                Initial dosage should be modified based on clinical goals and the degree of renal
                                impairment.
                                Individualize further dosage based on patient response (e.g., peripheral nerve
                                stimulation
                                monitoring). Renal failure may prolong the duration of action of pancuronium.
                                Dosage adjustments for pediatric patients are as follows:
                                CrCl > 50 mL/minute/1.73 m2: No initial dosage adjustment required; monitor carefully
                                and adjust
                                dosage to clinical effect.
                                CrCl 10 to 50 mL/minute/1.73 m2: Administer 50% of normal dosage; monitor carefully and
                                adjust
                                dosage to clinical effect.
                                CrCl &lt; 10 mL/minute/1.73 m2: Avoid use </div>
                            <div class="tab-pane fade" id="pancuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tabpanel"
                                aria-labelledby="pancuronium-CONTRAINDICATIONS-PRECAUTIONS-tab">
                                General Information
                                Pancuronium does not cause sedation or analgesia and should be administered only after
                                unconsciousness has been induced. Amnesia and analgesia should be adequately maintained
                                throughout paralyzation. Doses of pancuronium should be individualized. Use of a
                                peripheral nerve
                                stimulator will permit the most advantageous use of pancuronium, minimize the
                                possibility of
                                overdosage or underdosage, and assist in the evaluation of recovery.
                                Requires an experienced clinician, respiratory insufficiency
                                Neuromuscular blocking agents cause respiratory insufficiency by paralyzing respiratory
                                muscles.
                                Administration requires an experienced clinician who is adequately trained and familiar
                                with the
                                actions, characteristics, and hazards of pancuronium. These personnel should be skilled
                                in airway
                                management and respiratory support. Equipment and personnel must be immediately
                                available for
                                intubation and support of ventilation, including administration of oxygen therapy.
                                Adequacy of
                                respiration must be assured through assisted or controlled ventilation. Reversal agents
                                must be
                                immediately available.
                                Labor, obstetric delivery, pregnancy
                                Use pancuronium during pregnancy only if the benefits outweigh the risks. It is not
                                known whether
                                pancuronium can cause fetal harm when administered to a pregnant woman or if it can
                                affect
                                reproduction capacity. Pancuronium may be used in obstetric delivery (i.e., cesarean
                                section), but
                                reversal of pancuronium may be unsatisfactory in patients receiving magnesium sulfate
                                for toxemia
                                of pregnancy because magnesium salts enhance neuromuscular blockade. Reduce pancuronium
                                dosage, as indicated, in such cases. It is also recommended that the interval between
                                pancuronium
                                use and labor and obstetric delivery be reasonably short to avoid clinically significant
                                placental
                                transfer. Animal reproduction studies of pancuronium have not been performed.[41961]
                                Breast-feeding
                                There are no data on the presence of pancuronium in human milk, the effects on the
                                breast-fed
                                infant, or the effects on milk production. The elimination half-life for pancuronium is
                                1.5 to 3 hours. It
                                is a bisquaternary ammonium compound and should pass slowly through biological
                                membranes. If
                                trace amounts were excreted into breast milk, quaternary ammonium muscle relaxants are
                                poorly
                                absorbed from the gastrointestinal tract. Based on these data, breast-feeding could be
                                allowed as
                                soon as practically feasible after recovery from a surgical procedure.
                                Chronic obstructive pulmonary disease (COPD), pulmonary disease, respiratory
                                depression
                                Neuromuscular blocking agents can cause respiratory paralysis as a result of respiratory
                                depression
                                and should be used with extreme caution in patients with pulmonary disease such as
                                chronic
                                obstructive pulmonary disease (COPD). In addition, patients with severe obesity may be
                                predisposed to airway or ventilatory problems which require special care before, during,
                                and after
                                treatment with pancuronium.
                                Bromide hypersensitivity, neuromuscular blocking agent hypersensitivity
                                Pancuronium is contraindicated in patients known to have hypersensitivity to pancuronium
                                or a
                                bromide hypersensitivity. Pancuronium should be used with caution in patients with a
                                neuromuscular
                                blocking agent hypersensitivity, as cross-reactivity has been reported with both
                                depolarizing and
                                non-depolarizing agents in this class.
                                Lung cancer, myasthenia gravis, myopathy, neuromuscular disease, obesity
                                Patients with conditions that impair neuromuscular function can experience prolonged or
                                exaggerated neuromuscular block with nondepolarizing agents. These conditions include
                                myasthenia gravis, myasthenic syndrome associated with small cell carcinomatosis (Eaton
                                Lambert
                                syndrome; originally associated with lung cancer), myopathy, or any other neuromuscular
                                disease.
                                Additionally, patients with weak muscle tone and those who suffer from severe obesity
                                are at an
                                increased risk for airway and ventilation complications. Use vecuronium with caution in
                                patients with
                                these conditions, and continue to monitor patients carefully until recovery is fully
                                complete.
                                Asthma, cardiac disease, edema
                                Neuromuscular blocking agents stimulate histamine release. Compared with other
                                neuromuscular
                                blockers, pancuronium produces minimal stimulation, but it should be used with caution
                                in any
                                condition in which a significant release of histamine may be contraindicated, such as
                                cardiac disease
                                or asthma. In addition, use pancuronium with caution in patients with cardiac disease or
                                other
                                conditions that may be associated with a slower circulation time. Changes in the volume
                                of
                                distribution related to poor circulation or edema can delay the onset of neuromuscular
                                blockade.
                                Particular care is required when administering subsequent doses when it is uncertain
                                whether
                                maximum effect has been attained.
                                Acid/base imbalance, adrenal insufficiency, dehydration, electrolyte imbalance,
                                hypercalcemia, hypermagnesemia, hypocalcemia, hypokalemia, hypothermia,
                                metabolic alkalosis, respiratory acidosis
                                Various physiologic states can alter the expected effects of pancuronium; carefully
                                consider each
                                patient's clinical condition when dosing pancuronium and monitoring the patient.
                                Electrolyte
                                imbalance can alter a patient's sensitivity to neuromuscular blocking agents (NMBAs).
                                Hypercalcemia can decrease sensitivity to NMBAs, while most other electrolyte
                                disturbances
                                increase sensitivity (e.g., hypokalemia, hypocalcemia, hypermagnesemia). Use vecuronium
                                cautiously in patients with conditions that may lead to electrolyte imbalances, such as
                                adrenal
                                insufficiency. Severe acid/base imbalance may alter a patient's sensitivity to NMBAs:
                                respiratory
                                acidosis may enhance neuromuscular blockade and metabolic alkalosis may counteract it.
                                Dehydration and hypothermia can also increase a patient's sensitivity to NMBAs.
                                Malignant hyperthermia
                                Patients with a familial history of malignant hyperthermia should be treated with
                                extreme caution.
                                The condition can be precipitated by the use of halogenated anesthetics because this
                                reaction has
                                been attributed to their use, but neuromuscular blocking agents (such as pancuronium)
                                also may be
                                a contributory factor.
                                Tachycardia
                                Pancuronium increases the heart rate, probably by a direct action on the acetylcholine
                                receptors in
                                the heart. Patients with tachycardia should be treated with caution, although the effect
                                appears to be
                                dose-related and minimal in the usual dosage range.
                                Renal failure, renal impairment
                                Pancuronium should be used with caution in patients with renal impairment. The
                                elimination half-life
                                is doubled and plasma clearance is decreased by about 60% in patients with renal
                                failure.
                                Neuromuscular blockade can be prolonged.
                                Biliary obstruction, hepatic disease
                                Pancuronium should be used with caution in patients with hepatic disease. The
                                elimination half-life is
                                doubled in patients with biliary obstruction or cirrhosis and plasma clearance is
                                decreased by &lt;50%
                                or about 22%, respectively. In addition, patients with hepatic disease may have a 50%
                                increase in
                                the volume of distribution of pancuronium. This usually results in the need for a higher
                                initial dose to
                                achieve adequate muscle relaxation and a prolonged duration of action.
                                Burns
                                Patients with extensive burns can exhibit a decreased response to the effects of
                                pancuronium.
                                Resistance to neuromuscular blockade peaks after about 2 weeks and gradually declines as
                                the
                                burns heal. Increased doses of pancuronium may be required in these patients.
                                Neonates, premature neonates
                                Pancuronium products contain benzyl alcohol as a preservative. For this reason,
                                FDA-approved
                                labeling for some formulations specifically contraindicates use in neonates and
                                premature neonates.
                                Large amounts of benzyl alcohol (more than 99 mg/kg/day) have been associated with
                                gasping
                                syndrome in this population. Gasping syndrome is characterized by central nervous
                                depression,
                                metabolic acidosis, and gasping respirations. Although normal therapeutic doses of
                                pancuronium
                                would deliver amounts of benzyl alcohol that are substantially lower than those reported
                                to cause
                                gasping syndrome, the minimum dose at which toxicity can occur is not known

                                <h2>BOXED WARNING</h2>
                                <div class="instruction">
                                    <h2 class="fs-title">Requires an experienced clinician, respiratory insufficiency
                                    </h2>
                                    Neuromuscular blocking agents cause respiratory insufficiency by paralyzing
                                    respiratory muscles.
                                    Administration requires an experienced clinician who is adequately trained and
                                    familiar with the
                                    actions, characteristics, and hazards of pancuronium. These personnel should be
                                    skilled in airway
                                    management and respiratory support. Equipment and personnel must be immediately
                                    available for
                                    intubation and support of ventilation, including administration of oxygen therapy.
                                    Adequacy of
                                    respiration must be assured through assisted or controlled ventilation. Reversal
                                    agents must be
                                    immediately available.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="CISATRACURIUM" role="tabpanel" aria-labelledby="CISATRACURIUM-tab">...</div>
            <div class="tab-pane" id="Rocuronium" role="tabpanel" aria-labelledby="Rocuronium-tab">...</div>
            <div class="tab-pane" id="Succinylcholine" role="tabpanel" aria-labelledby="Succinylcholine-tab">...</div>
            <div class="tab-pane" id="Vecuronium" role="tabpanel" aria-labelledby="Vecuronium-tab">...</div>
        </div>
    </div>





</div>