<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="precipitatingfactors.html">Paralytics</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recommendations</li>
        </ol>
    </nav>

    <div class="mainContent">
        <h4>RECOMMENDATIONS</h4>

        <div class="sun-custom-list">
            <ol>
                <li>Patients MUST be mechanically ventilated prior to administration of NMBAs.
                </li>
                <li>Adequate sedative and analgesic therapy MUST be provided prior to and for
                    the duration of neuromuscular blockade. ι
                </li>
                <li>Prophylactic eye care should be administered to all patients for the duration
                    of neuromuscular blockade.
                </li>
                <li> Prophylaxis against Deep Vein Thrombosis by use of anticoagulants
                </li>
                <li> If the patient has hepatic / renal dysfunction , Adminster Cisatracurium or
                    Atracurium
                </li>
                <li> If patient is contraindicated to <a data-toggle="collapse" href="#vagolytics" role="button"
                        aria-expanded="false" aria-controls="vagolytics">
                        Vagolytics drugs
                    </a>, Avoid Pancuronium
                </li>
            </ol>

            <div class="collapse" id="vagolytics">
                <b>Anticholinergic drugs that inhibit muscarinic receptors</b><br>
                For example : Atropine ,Scopalamine , Glycopyrrolate
            </div>


            
            <a  data-target="#modalalgorithm" data-toggle="modal" href="#"><h4>AlGORITHM</h4></a>

            <div aria-hidden="true" aria-labelledby="algorithmLabel" class="modal fade" id="modalalgorithm" role="dialog"
                tabindex="-1">
                <div class="modal-dialog modal-lg" role="document" style = "width:35%">
                    <div class="modal-content">
                        <div class="modal-body mb-0 p-0">
                            <img src="/img/algorithm.jfif" alt="" style="width:100%">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center"
                                data-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>