<link rel="stylesheet" href="/css/caution.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Paralytics</li>
            <li class="breadcrumb-item active" aria-current="page">Cautions</li>
        </ol>
    </nav>


    <div class="mainContent">
        <div class="container">
            <div class="row">
                <div class="holder checklist-holder">
                    <table width="100%">
                        <tr>
                            <td>
                                Select the medical condition of your patient
                            </td>
                            <td>
                                <img src="/img/icons8-checklist-64.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>Liver impairment</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check1" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Renal impairment</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check2" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>COPD</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check3" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Respiratory disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check4" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Asthma</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check5" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Lung cancer</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check6" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Geriatrics</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check7" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Myasthenia gravis</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check8" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Myopathy</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check9" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Neuromuscular disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check10" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Obesity</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check11" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Electrolyte imbalance</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check12" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Adrenal insufficiency</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check13" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Acid-base imbalance</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check14" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>

                        
                        <tr>
                            <td>Dehydration</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check15" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td>Cardiac disease</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check16" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Edema</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check17" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Malignant hyperthermia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check18" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tachycardia</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check19" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Burns</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check20" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Neonates, premature neonates</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="paralytics-caution-check21" />
                                    <span></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div style="text-align: right;">
                        <input id="paralytics-caution-checklist-submit" type="submit" value="submit">
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="holder">
                    <div id="paralytics-caution-result">
                        Click on submit button to see the required instructions
                    </div>
                </div>
            </div>
        </div>


    </div>





</div>