<link rel="stylesheet" href="css/cards.css">
<div style="margin-top: 40px;margin-left:5%;margin-right:5%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Paralytics</li>
        </ol>
    </nav>


    <div class="mainContent">
        <h2>Drugs</h2>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pancuronium-tab" data-toggle="tab" href="#pancuronium" role="tab"
                    aria-controls="pancuronium" aria-selected="true">Pancuronium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="CISATRACURIUM-tab" data-toggle="tab" href="#CISATRACURIUM" role="tab"
                    aria-controls="CISATRACURIUM" aria-selected="false">CISATRACURIUM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Rocuronium-tab" data-toggle="tab" href="#Rocuronium" role="tab"
                    aria-controls="Rocuronium" aria-selected="false">Rocuronium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Succinylcholine-tab" data-toggle="tab" href="#Succinylcholine" role="tab"
                    aria-controls="Succinylcholine" aria-selected="false">Succinylcholine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Vecuronium-tab" data-toggle="tab" href="#Vecuronium" role="tab"
                    aria-controls="Vecuronium" aria-selected="false">Vecuronium (Norcuron)
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="pancuronium" role="tabpanel" aria-labelledby="pancuronium-tab">
                <div class="mainContent">
                    <ul class="nav nav-pills mb-3" id="pancuronium-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pancuronium-dosing-tab" data-toggle="pill"
                                href="#pancuronium-dosing" role="tab" aria-controls="pancuronium-dosing"
                                aria-selected="true">Dosing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pancuronium-CONTRAINDICATIONS-PRECAUTIONS-tab" data-toggle="pill"
                                href="#pancuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tab"
                                aria-controls="pancuronium-CONTRAINDICATIONS-PRECAUTIONS"
                                aria-selected="false">CONTRAINDICATIONS /
                                PRECAUTIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pancuronium-BOXED-WARNING-tab" data-toggle="pill"
                                href="#pancuronium-BOXED-WARNING" role="tab" aria-controls="pancuronium-BOXED-WARNING"
                                aria-selected="false">BOXED WARNING</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pancuronium-tabContent">
                        <div class="tab-pane fade show active" id="pancuronium-dosing" role="tabpanel"
                            aria-labelledby="pancuronium-dosing-tab">
                            Dosing
                        </div>
                        <div class="tab-pane fade" id="pancuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tabpanel"
                            aria-labelledby="pancuronium-CONTRAINDICATIONS-PRECAUTIONS-tab">
                            CONTRAINDICATIONS-PRECAUTIONS
                        </div>
                        <div class="tab-pane fade" id="pancuronium-BOXED-WARNING" role="tabpanel"
                            aria-labelledby="pancuronium-BOXED-WARNING-tab">
                            BOXED WARNING
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="CISATRACURIUM" role="tabpanel" aria-labelledby="CISATRACURIUM-tab">
                <div class="mainContent">
                    <ul class="nav nav-pills mb-3" id="cisatracurium-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="cisatracurium-dosing-tab" data-toggle="pill"
                                href="#cisatracurium-dosing" role="tab" aria-controls="cisatracurium-dosing"
                                aria-selected="true">Dosing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cisatracurium-CONTRAINDICATIONS-PRECAUTIONS-tab" data-toggle="pill"
                                href="#cisatracurium-CONTRAINDICATIONS-PRECAUTIONS" role="tab"
                                aria-controls="cisatracurium-CONTRAINDICATIONS-PRECAUTIONS"
                                aria-selected="false">CONTRAINDICATIONS /
                                PRECAUTIONS</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="cisatracurium-tabContent">
                        <div class="tab-pane fade show active" id="cisatracurium-dosing" role="tabpanel"
                            aria-labelledby="cisatracurium-dosing-tab">
                            Dosing
                        </div>
                        <div class="tab-pane fade" id="cisatracurium-CONTRAINDICATIONS-PRECAUTIONS" role="tabpanel"
                            aria-labelledby="cisatracurium-CONTRAINDICATIONS-PRECAUTIONS-tab">
                            CONTRAINDICATIONS-PRECAUTIONS
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Rocuronium" role="tabpanel" aria-labelledby="Rocuronium-tab">
                <div class="mainContent">
                    <ul class="nav nav-pills mb-3" id="rocuronium-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="rocuronium-DOSAGE-INDICATIONS-tab" data-toggle="pill"
                                href="#rocuronium-DOSAGE-INDICATIONS" role="tab"
                                aria-controls="rocuronium-DOSAGE-INDICATIONS" aria-selected="true">DOSAGE &
                                INDICATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="rocuronium-DOSING-CONSIDERATIONS-tab" data-toggle="pill"
                                href="#rocuronium-DOSING-CONSIDERATIONS" role="tab"
                                aria-controls="rocuronium-DOSING-CONSIDERATIONS" aria-selected="false">DOSING
                                CONSIDERATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="rocuronium-CONTRAINDICATIONS-PRECAUTIONS-tab" data-toggle="pill"
                                href="#rocuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tab"
                                aria-controls="rocuronium-CONTRAINDICATIONS-PRECAUTIONS"
                                aria-selected="false">CONTRAINDICATIONS /
                                PRECAUTIONS</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="rocuronium-tabContent">
                        <div class="tab-pane fade show active" id="rocuronium-DOSAGE-INDICATIONS" role="tabpanel"
                            aria-labelledby="rocuronium-DOSAGE-INDICATIONS-tab">
                            DOSAGE-INDICATIONS
                        </div>
                        <div class="tab-pane fade" id="rocuronium-DOSING-CONSIDERATIONS" role="tabpanel"
                            aria-labelledby="rocuronium-DOSING-CONSIDERATIONS-tab">
                            DOSING-CONSIDERATIONS
                        </div>
                        <div class="tab-pane fade" id="rocuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tabpanel"
                            aria-labelledby="rocuronium-CONTRAINDICATIONS-PRECAUTIONS-tab">
                            CONTRAINDICATIONS-PRECAUTIONS
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Succinylcholine" role="tabpanel" aria-labelledby="Succinylcholine-tab">
                <div class="mainContent">
                    <ul class="nav nav-pills mb-3" id="Succinylcholine-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Succinylcholine-BOXED-WARNING-tab" data-toggle="pill"
                                href="#Succinylcholine-BOXED-WARNING" role="tab"
                                aria-controls="Succinylcholine-BOXED-WARNING" aria-selected="true">BOXED WARNING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Succinylcholine-DOSAGE-INDICATIONS-tab" data-toggle="pill"
                                href="#Succinylcholine-DOSAGE-INDICATIONS" role="tab"
                                aria-controls="Succinylcholine-DOSAGE-INDICATIONS" aria-selected="false">DOSAGE
                                INDICATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Succinylcholine-MAXIMUM-DOSAGE-tab" data-toggle="pill"
                                href="#Succinylcholine-MAXIMUM-DOSAGE" role="tab"
                                aria-controls="Succinylcholine-MAXIMUM-DOSAGE" aria-selected="false">MAXIMUM DOSAGE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Succinylcholine-CONTRAINDICATIONS-PRECAUTIONS-tab"
                                data-toggle="pill" href="#Succinylcholine-CONTRAINDICATIONS-PRECAUTIONS" role="tab"
                                aria-controls="Succinylcholine-CONTRAINDICATIONS-PRECAUTIONS"
                                aria-selected="false">CONTRAINDICATIONS /
                                PRECAUTIONS</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="Succinylcholine-tabContent">
                        <div class="tab-pane fade show active" id="Succinylcholine-BOXED-WARNING" role="tabpanel"
                            aria-labelledby="Succinylcholine-BOXED-WARNING-tab">
                            BOXED-WARNING
                        </div>
                        <div class="tab-pane fade" id="Succinylcholine-DOSAGE-INDICATIONS" role="tabpanel"
                            aria-labelledby="Succinylcholine-DOSAGE-INDICATIONS-tab">
                            DOSAGE-INDICATIONS
                        </div>
                        <div class="tab-pane fade" id="Succinylcholine-MAXIMUM-DOSAGE" role="tabpanel"
                            aria-labelledby="Succinylcholine-MAXIMUM-DOSAGE-tab">
                            MAXIMUM-DOSAGE
                        </div>
                        <div class="tab-pane fade" id="Succinylcholine-CONTRAINDICATIONS-PRECAUTIONS" role="tabpanel"
                            aria-labelledby="Succinylcholine-CONTRAINDICATIONS-PRECAUTIONS-tab">
                            CONTRAINDICATIONS-PRECAUTIONS
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Vecuronium" role="tabpanel" aria-labelledby="Vecuronium-tab">
                <div class="mainContent">
                    <ul class="nav nav-pills mb-3" id="vecuronium-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="vecuronium-DOSAGE-INDICATIONS-tab" data-toggle="pill"
                                href="#vecuronium-DOSAGE-INDICATIONS" role="tab"
                                aria-controls="vecuronium-DOSAGE-INDICATIONS" aria-selected="true">DOSAGE &
                                INDICATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="vecuronium-DOSING-CONSIDERATIONS-tab" data-toggle="pill"
                                href="#vecuronium-DOSING-CONSIDERATIONS" role="tab"
                                aria-controls="vecuronium-DOSING-CONSIDERATIONS" aria-selected="false">DOSING
                                CONSIDERATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="vecuronium-CONTRAINDICATIONS-PRECAUTIONS-tab" data-toggle="pill"
                                href="#vecuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tab"
                                aria-controls="vecuronium-CONTRAINDICATIONS-PRECAUTIONS"
                                aria-selected="false">CONTRAINDICATIONS / PRECAUTIONS</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="vecuronium-tabContent">
                        <div class="tab-pane fade show active" id="vecuronium-DOSAGE-INDICATIONS" role="tabpanel"
                            aria-labelledby="vecuronium-DOSAGE-INDICATIONS-tab">
                            DOSAGE-INDICATIONS
                        </div>
                        <div class="tab-pane fade" id="vecuronium-DOSING-CONSIDERATIONS" role="tabpanel"
                            aria-labelledby="vecuronium-DOSING-CONSIDERATIONS-tab">
                            DOSING-CONSIDERATIONS
                        </div>
                        <div class="tab-pane fade" id="vecuronium-CONTRAINDICATIONS-PRECAUTIONS" role="tabpanel"
                            aria-labelledby="vecuronium-CONTRAINDICATIONS-PRECAUTIONS-tab">
                            CONTRAINDICATIONS-PRECAUTIONS
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>