<link href="/css/circles.css" rel="stylesheet">

<div style="margin-left:5%;margin-right:5%;padding-bottom: 2%;">

    <div class="mainContent outer-circle">

        <div class="mainContent inner-circle">

            <div class="topleftcorner">
                <a href="painprecipitatingfactors.html" class="circle">
                    Precipitating factors for pain
                </a>
            </div>
            <div class="bottomleftcorner">
                <a href="agitationprecipitatingfactors.html" class="circle">
                    Precipitating factors for agitation
                </a>
            </div>
            <div class="inner">
                <div class="main-circle">
                    Precipitating factors
                </div>
            </div>
            <div class="bottomrightcorner">
                <a href="deliriumprecipitatingfactors.html" class="circle">
                    Precipitating factors for delirium
                </a>
            </div>
            <div class="toprightcorner">
                <a href="criteriaParalytics.html" class="circle" style="font-size: 23px;">
                   Criteria for the use of paralytics in ICU patients
                </a>
            </div>



        </div>
    </div>

</div>