body {
    background:url(../img/bg-masthead.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead {
    background:none;
}


#mainNav .navbar-brand {
    font-family: Georgia, serif;
    font-weight: 500;
    font-size: 30px;
    color: #a86632;
}

@media (min-width: 992px)
{#mainNav {
    box-shadow: none;
    background-color: transparent;
}}



#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(0,0,0,.5);
    padding: 0 1rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: Merriweather,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 300;
    font-size: 22px;
}

.instruction{
    background-color: blanchedalmond;
    padding:3%;
    margin-bottom:3%;
}

.instruction-section{
    margin-bottom:1%;
}

.instruction-inner-section{
    margin-left:6%;
    margin-top:2%;
}

.how-to-count{
    color: brown;
}


.modal,body.modal-open {
    padding-right: 0!important
}

body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

.modal-footer {
	display: flex;
	justify-content: flex-start;
	.btn {
		position: absolute;
		right: 10px;
	}
}
